{% extends 'base.html' %}
{% load static %}

{% block content %}
   <div id="homepage-container" class="container-fluid bg-info">
        <div class="row welcome-container flex-grow-1">
            <div class="col text-center d-flex flex-column justify-content-center">
                <h2>Welcome Traveler!</h2>
                <p>Prepare to discover Treasures Untold, where every corner holds a magical surprise. Browse our collection of enchanted items, and who knows — you might just uncover a secret that unlocks more than just treasures!</p>
            </div>
        </div>
        <div class="row new-items-container flex-grow-1">
            <div class="col-12 col-md-6 bg-white"></div>
            <div class="col-12 col-md-6 bg-black"></div>
        </div>
        <div class="row as-featured-in-container bg-secondary">
            <div class="marquee marquee--hover-pause">
                <ul class="marquee__content list-unstyled m-0 text-white">
                    <li>Arcane Finds</li>
                    <li>Mystic Bazaar</li>
                    <li>Relic Review</li>
                    <li>The Enchanter</li>
                    <li>Charm Chronicles</li>
                    <li>Wondrous Goods</li>
                </ul>
                <ul aria-hidden="true" class="marquee__content list-unstyled m-0 text-white">
                    <li>Arcane Finds</li>
                    <li>Mystic Bazaar</li>
                    <li>Relic Review</li>
                    <li>The Enchanter</li>
                    <li>Charm Chronicles</li>
                    <li>Wondrous Goods</li>
                </ul>
            </div>
        </div>
        <div class="row featured-items-container flex-grow-1">
            <div class="col-12 col-md-6 bg-white"></div>
            <div class="col-12 col-md-6 bg-black"></div>
        </div>
        <div class="row support-container flex-grow-1">
            <div id="support-links" class="col-12 col-lg-4 d-flex">
                <div class="row flex-grow-1">
                    <div  class="col">
                        <a href="" class="nav-link fw-bold">Menu</a>
                        <a href="" class="nav-link fw-bold">Home</a>
                        <a href="" class="nav-link fw-bold">New</a>
                        <a href="" class="nav-link fw-bold">All Products</a>
                    </div>
                    <div class="col">
                        <a href="" class="nav-link fw-bold">Help</a>
                        <a href="" class="nav-link fw-bold">FAQ</a>
                        <a href="" class="nav-link fw-bold">Contact Us</a>
                    </div>
                    <div class="col">
                        <a href="" class="nav-link fw-bold">Information</a>
                        <a href="" class="nav-link fw-bold">Privacy</a>
                    </div>
                </div>
            </div>
            <div id="support-social" class="col-12 col-lg-4 d-flex justify-content-evenly align-items-center">
                <i class="fa-brands fa-facebook text-white"></i>
                <i class="fa-brands fa-instagram text-white"></i>
                <i class="fa-brands fa-x-twitter text-white"></i>
            </div>
            <div id="support-newsletter" class="col-12 col-lg-4 d-flex flex-column justify-content-evenly">
                <h4 class="text-white m-0">UNLOCK THE MAGIC!</h4>
                <P class="text-white m-0">Get informed of all the new item drops and news!</P>
                <form action="" method="" class="w-100">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="newsletter-form-email" type="email" placeholder="your-email@example.com" class="form-control">
                        <button id="newsletter-form-submit" type="submit" class="btn"><i class="fa-regular fa-circle-check"></i></button>
                    </div>
                </form>
            </div>
        </div>
   </div>
{% endblock %}