# Enable Git’s automatic line ending normalization
* text=auto

# Ensure that all .py (Python) files always use LF line endings, regardless of the OS.
*.py text eol=lf

# Tell Git to treat the following image files as binary.
*.png binary
*.jpg binary
*.gif binary