<div class="sort-and-filter">
    <div class="sort-selector_wrapper m-1 w-100">
        <select id="sort-selector" class="form-control">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            <option value="realm_asc" {% if current_sorting == 'realm_asc' %}selected{% endif %}>Realm (A-Z)</option>
            <option value="realm_desc" {% if current_sorting == 'realm_desc' %}selected{% endif %}>Realm (Z-A)</option>
        </select>
    </div>            
    <a href="{% url 'products' %}" class="btn btn-teal m-1 w-100" aria-label="clear filters">Clear</a>
    <button id="submit-filter" class="btn btn-green m-1 mb-3 w-100" aria-label="apply selected filters">Apply</button>
    <form id="filter-form">
        <div class="mb-2">
            <p class="mb-1 fw-bold">Stock</p>
            <input type="checkbox" id="checkbox-new" name="new" value="new" {% if showing_new %}checked{% endif %}>
            <label for="checkbox-new"> New</label><br>
            <input type="checkbox" id="checkbox-instock" name="stock" value="in" {% if "in" in showing_stock %}checked{% endif %}>
            <label for="checkbox-instock"> In stock</label><br>
            <input type="checkbox" id="checkbox-outofstock" name="stock" value="out" {% if "out" in showing_stock %}checked{% endif %}>
            <label for="checkbox-outofstock"> Out of stock</label><br>
        </div>
        <div>
            <p class="mb-1 fw-bold">Realm</p>
            {% for realm in all_realms %}
            <input type="checkbox" id="checkbox-{{ realm.name|lower }}" name="realm" value="{{ realm.name }}" {% if realm.name in current_realms_names %}checked{% endif %}>
            <label for="checkbox-{{ realm.name|lower }}"> {{ realm.display_name }}</label><br>
            {% endfor %}
        </div>
    </form>
</div>