{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center">User Profile</h1>
    <p class="text-center">Welcome {{ profile.user }}!</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <form id="user-profile-form" action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    <fieldset class="px-3 mb-5">
                        <legend class="fieldset-label">Personal Details</legend>
                        {{ form.default_full_name | as_crispy_field }}
                        {{ form.email | as_crispy_field }}
                        {{ form.default_phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="px-3 mb-5">
                        <legend class="fieldset-label">Address Details</legend>
                        {{ form.default_street_address_1 | as_crispy_field }}
                        {{ form.default_street_address_2 | as_crispy_field }}
                        {{ form.default_town_city | as_crispy_field }}
                        {{ form.default_county | as_crispy_field }}
                        {{ form.default_postcode | as_crispy_field }}
                        {{ form.default_country | as_crispy_field }}
                    </fieldset>
                    <button id="profile-submit-button" type="submit" class="btn btn-secondary mb-3">
                        <div class="spinner hidden" id="spinner">
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status"></span>
                        </div>
                        <span id="button-text">Update Details</span>
                    </button>
                </form>
            </div>
            <div class="col">
                <p>Order History</p>
                <div class="order-history" table-responsive>
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                    {{ order.order_number | truncatechars:11 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li>{{ item.product.name }} x{{ item.quantity }}</li>
                                        {% endfor %} 
                                    </ul>
                                </td>
                                <td>£{{ order.grand_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/info_section.html' %}
{% endblock %}
