{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}
{% load checkout_tools %}

{% block extra_css %}
    <!-- Load profiles_style.css -->
    <link rel="stylesheet" href="{% static 'profiles/css/profiles_style.css' %}">    
{% endblock %}

{% block extra_title %} - Profile{% endblock %}

{% block body_class %}fading-nav-page{% endblock %}

{% block content %}
<div id="profiles-page" class="container-fluid flex-grow-1">
    <div id="profiles-page-container" class="container rounded-4 my-4 p-4">
        <h2 class="text-center mb-3">{{ profile.user }}'s profile</h2>
        <p class="text-center">
            Welcome to your profile! Here, you can update your default details, such as your name, phone number, and delivery address, to make future checkouts faster and easier.<br>
            You can also view your past orders and access order details whenever you need them. Click the order number to view details.
        </p>
        <div class="row">
            <!-- Details section -->
            <div class="col-12 col-md-6 user-details mb-3">
                <h3 class="text-center mt-2 mb-3">Personal Details</h3>
                <form id="user-profile-form" action="{% url 'profile' %}" method="POST" class="d-flex flex-column align-items-center">
                    {% csrf_token %}
                    <fieldset class="mb-3 w-100">
                        <legend class="fieldset-label"><h4>Contact Information</h4></legend>
                        {{ form.default_full_name | as_crispy_field }}
                        {{ form.email | as_crispy_field }}
                        {{ form.default_phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="mb-3 w-100">
                        <legend class="fieldset-label"><h4>Address Information</h4></legend>
                        {{ form.default_street_address_1 | as_crispy_field }}
                        {{ form.default_street_address_2 | as_crispy_field }}
                        {{ form.default_town_city | as_crispy_field }}
                        {{ form.default_county | as_crispy_field }}
                        {{ form.default_postcode | as_crispy_field }}
                        {{ form.default_country | as_crispy_field }}
                    </fieldset>
                    <button id="profile-submit-button" type="submit" class="btn btn-green">
                        <span class="spinner d-none" id="spinner">
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status"></span>
                        </span>
                        <span id="btn-text">Update Details</span>
                    </button>
                </form>
            </div>
            <!-- Order history -->
            <div class="col-12 col-md-6 order-history mb-3 d-flex flex-column">
                <h3 class="text-center mt-2 mb-3">Order History</h3>
                <div id="order-history-table-container">
                    <div id="order-history-table">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th class="d-none d-xl-table-cell">Date</th>
                                    <th class="text-end">Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td class="order-table-order-number">
                                        <a href="{% url 'order_history' order.order_number %}" class="text-link"
                                        title="{{ order.order_number }}" aria-label="view order details for {{ order.order_number }}">
                                        {{ order.order_number }}
                                        </a>
                                    </td>
                                    <td class="d-none d-xl-table-cell">{{ order.date | date:"F j, Y" }}</td>
                                    <td class="text-end">£{{ order.grand_total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/info_section.html' %}
<!-- The modal to show previous order details if requested. -->
{% if view_order %}
<div class="modal" id="order-history-modal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title flex-grow-1 text-center">ORDER: {{ view_order.order_number }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div id="order-details" class="col-12 col-lg-6">
                            <h5 class="text-center mt-2">Delivery Details</h5>
                            <div class="d-flex justify-content-center my-3">
                                <div>
                                    <div class="mb-2"><strong>Order number:</strong> {{ view_order.order_number }}</div>
                                    <div class="mb-2"><strong>Date:</strong> {{ view_order.date }}</div>
                                    <div class="mb-2"><strong>Contact Details:</strong>
                                        <div><i class="fa-solid fa-envelope"></i> {{ view_order.email }}</div>
                                        {% if view_order.phone_number %}
                                        <div><i class="fa-solid fa-phone"></i> {{ view_order.phone_number }}</div>
                                        {% endif %}
                                    </div>
                                    <div><strong>Delivery Address:</strong>
                                        <div>{{ view_order.full_name }}</div>
                                        <div>{{ view_order.street_address_1 }}</div>
                                        {% if view_order.street_address_2 %}
                                        <div>{{ view_order.street_address_2 }}</div>
                                        {% endif %}
                                        <div>{{ view_order.town_city }}</div>
                                        {% if view_order.county %}
                                        <div>{{ view_order.county }}</div>
                                        {% endif %}
                                        {% if view_order.postcode %}
                                        <div>{{ view_order.postcode }}</div>
                                        {% endif %}
                                        <div>{{ view_order.country }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="order-summary" class="col-12 col-lg-6 pe-lg-5">
                            <h5 id="order-summary-title" class="text-center mt-2">Order Summary</h5>
                            {% for item in view_order.lineitems.all %}
                            <div class="row my-3">
                                <div class="col d-flex image-column align-items-center">
                                    <div class=" position-relative">
                                        <img class="img-fluid rounded-3" src="{{ item.product.image_url }}" alt="{{ item.product_name }}" onError="this.onerror=null;this.src='{% static "images/placeholder.png" %}';">
                                        <span class="mob-basket-badge position-absolute translate-middle badge rounded-pill">
                                            {{ item.quantity }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col flex-grow-1 d-flex flex-column">
                                    <strong>{% if item.product != None %}<a href="{% url 'product_detail' item.product.id %}" class="text-link">{{ item.product_name }}</a>{% else %}{{ item.product_name }}{% endif %}</strong>
                                    <small>{{ item.product_sku }}</small>
                                    {% if item.product == None %}<small class="text-danger">DISCONTINUED</small>{% endif %}
                                    {% if view_order.rewards_used %}
                                        {% if 'magic-lamp' in view_order.rewards_used %}
                                            {% if forloop.counter < 4 %}
                                                {% if item.purchase_price == 0.00 %}
                                                    <small class="text-danger">MAGIC LAMP</small> 
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if 'cave-of-wonders' in view_order.rewards_used %}
                                            {% if item.purchase_price == 0.00 and item.product.realm.name == 'Agrabah' %}
                                                {% if 'magic-lamp' not in view_order.rewards_used %}
                                                    <small class="text-danger">CAVE OF WONDERS</small>
                                                {% elif 'magic-lamp' in view_order.rewards_used and forloop.counter > 3 %}
                                                    <small class="text-danger">CAVE OF WONDERS</small>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col d-flex item-total-column justify-content-end">
                                    <strong class="{% if item.purchase_price == 0.00 %}text-danger{% endif %}">£{{ item.purchase_price | calc_subtotal:item.quantity }}</strong>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row my-3">
                                <div class="col d-flex flex-column align-items-end">
                                    {% if view_order.rewards_used and 'bibbidi-bobbidi-boo' in view_order.rewards_used %}
                                        <p class="m-0">Subtotal: <strong class="text-decoration-line-through text-danger">£{{ view_order.order_total | calc_original_total | floatformat:2 }}</strong></p>
                                        <p class="m-0 text-danger">'Bibbidi Bobbidi Boo' 20% discount.</p>
                                        <p class="m-0">Subtotal: <strong>£{{ view_order.order_total | floatformat:2 }}</strong></p>
                                    {% else %}
                                        <p class="m-0">Subtotal: <strong>£{{ view_order.order_total | floatformat:2 }}</strong></p>
                                    {% endif %}
                                    <p class="m-0">Delivery: <strong>£{{ view_order.delivery_cost | floatformat:2 }}</strong></p>
                                    <p class="m-0">Grand Total: <strong>£{{ view_order.grand_total | floatformat:2 }}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- Load profiles_script.js -->
    <script src="{% static 'profiles/script/profiles_script.js' %}"></script>
{% endblock %}