{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- profiles_style.css -->
    <link rel="stylesheet" href="{% static 'profiles/css/profiles_style.css' %}">    
{% endblock %}

{% block content %}
<div id="profiles-page" class="container-fluid flex-grow-1">
    <div id="profiles-page-container" class="container rounded-4 my-4 p-4">
        <h2 class="text-center mb-3">Profile - {{ profile.user }}</h2>
        <div class="row">
            <div class="col-12 col-md-6 user-details">
                <h4 class="text-center mt-2">Personal Details</h4>
                <form id="user-profile-form" action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    <fieldset class="mb-3">
                        <legend class="fieldset-label"><h5>Contact Information</h5></legend>
                        {{ form.default_full_name | as_crispy_field }}
                        {{ form.email | as_crispy_field }}
                        {{ form.default_phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="mb-3">
                        <legend class="fieldset-label"><h5>Address Information</h5></legend>
                        {{ form.default_street_address_1 | as_crispy_field }}
                        {{ form.default_street_address_2 | as_crispy_field }}
                        {{ form.default_town_city | as_crispy_field }}
                        {{ form.default_county | as_crispy_field }}
                        {{ form.default_postcode | as_crispy_field }}
                        {{ form.default_country | as_crispy_field }}
                    </fieldset>
                    <button id="profile-submit-button" type="submit" class="btn btn-blue">
                        <div class="spinner hidden" id="spinner">
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status"></span>
                        </div>
                        <span id="button-text">Update Details</span>
                    </button>
                </form>
            </div>
            <div class="col-12 col-md-6 order-history">
                <h4 class="text-center mt-2">Order History</h4>
                <div class="order-history" table-responsive>
                    <table>
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                    {{ order.order_number }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>£{{ order.grand_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/info_section.html' %}
{% endblock %}
