{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <!-- Load checkout_style.css -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout_style.css' %}">    
{% endblock %}

{% block extra_title %} - Checkout{% endblock %}

{% block content %}
<div id="checkout-page" class="container-fluid flex-grow-1">
    <div id="checkout-container" class="container rounded-4 my-4">
        <h2 class="text-center mb-2 h1-style">Checkout</h2>
        <div class="row">
            <!-- Order summary showing all items in the basket with totals and discounts if applied. -->
            <div id="order-summary" class="col-12 col-md-6 order-md-last">
                <h3 id="order-summary-title" class="text-center mt-2">Order Summary</h3>
                {% for item in basket_items %}
                <div class="row my-3">
                    <div class="col d-flex image-column align-items-center">
                        <div class=" position-relative">
                            <img class="img-fluid rounded-3" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                            <span class="mob-basket-badge position-absolute translate-middle badge rounded-pill">
                                {{ item.quantity }}
                            </span>
                        </div>
                    </div>
                    <div class="col flex-grow-1 d-flex flex-column">
                        <strong>{{ item.product.name }}</strong>
                        <small>{{ item.product.sku }}</small>
                        {% if rewards %}
                            {% if 'magic-lamp' in rewards %}
                                {% if forloop.counter < 4 %}
                                    {% if item.product.price == 0.00 %}
                                        <small class="text-danger">MAGIC LAMP</small> 
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if 'cave-of-wonders' in rewards %}
                                {% if item.product.price == 0.00 and item.product.realm.name == 'Agrabah' %}
                                    {% if 'magic-lamp' not in rewards %}
                                        <small class="text-danger">CAVE OF WONDERS</small>
                                    {% elif 'magic-lamp' in rewards and forloop.counter > 3 %}
                                        <small class="text-danger">CAVE OF WONDERS</small>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col d-flex item-total-column justify-content-end">
                        <strong class="{% if item.product.price == 0.00 %}text-danger{% endif %}">£{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                    </div>
                </div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col d-flex flex-column align-items-end">
                        {% if rewards and 'bibbidi-bobbidi-boo' in rewards %}
                            <p class="m-0">Subtotal: <strong class="text-decoration-line-through text-danger">£{{ original_total|floatformat:2 }}</strong></p>
                            <p class="m-0 text-danger">'Bibbidi Bobbidi Boo' 20% discount.</p>
                            <p class="m-0">Subtotal: <strong>£{{ total|floatformat:2 }}</strong></p>
                        {% else %}
                            <p class="m-0">Subtotal: <strong>£{{ total|floatformat:2 }}</strong></p>
                        {% endif %}
                        <p class="m-0">Delivery: <strong>£{{ delivery|floatformat:2 }}</strong></p>
                        <p class="m-0">Grand Total: <strong>£{{ grand_total|floatformat:2 }}</strong></p>
                    </div>
                </div>
                <hr class="d-md-none">
            </div>
            <!-- Form for submitting details and payment information. -->
            <div id="billing-and-payment" class="col-12 col-md-6">
                <h3 class="text-center mb-3 mt-2">Payment & Delivery</h3>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="mb-3">
                        <legend class="fieldset-label"><h4>Contact Details</h4></legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="mb-3">
                        <legend class="fieldset-label"><h4>Delivery</h4></legend>
                        {{ order_form.street_address_1 | as_crispy_field }}
                        {{ order_form.street_address_2 | as_crispy_field }}
                        {{ order_form.town_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="id-save-info">Update my profile with this delivery info.</label>
                            <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info">
                        </div>
                    </fieldset>
                    <fieldset class="mb-3">
                        <legend class="fieldset-label"><h4>Payment</h4></legend>
                        <!-- Stripe payment element -->
                        <div id="payment-element"></div>
                        <!-- Form errors -->
                        <div id="payment-errors" class="text-red text-center mt-2" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <h5 class="text-center mb-3">Your card will be charged £{{ grand_total|floatformat:2 }}</h5>
                    <div class="button-container d-flex flex-column align-items-center gap-2 mb-3">
                        <a id="adjust-button" class="btn btn-blue" href="{% url 'view_basket' %}">Edit Basket</a>
                        <button id="submit-button" type="submit" class="btn btn-green">
                            <span class="spinner hidden" id="spinner">
                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                <span role="status"></span>
                            </span>
                            <span id="button-text">Complete Order</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Overlay to show when order is being processed. -->
    <div id="loading-overlay" class="container rounded-4 my-4 gap-3">
        <h2 class="h1-style">Processing transaction...</h2>
        <div class="h2-size">
            <i class="fa-solid fa-wand-magic-sparkles fa-shake fa-lg"></i>
        </div>
    </div>
</div>
{% include 'includes/info_section.html' %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Making stripe public and secret keys available to stripe_elements.js -->
    {{ stripe_public_key|json_script:'id_stripe_public_key' }}
    {{ client_secret|json_script:'id_client_secret' }}
    <!-- Load stripe_element.js -->
    <script src="{% static 'checkout/script/stripe_elements.js' %}"></script>
{% endblock %}