{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- checkout_syle.css -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout_style.css' %}">    
{% endblock %}

{% block content %}

<div id="checkout-success-page" class="container-fluid flex-grow-1">
    <div id="checkout-success-container" class="container rounded-4 my-4">
        <h1 class="text-center mb-2">Order Summary</h1>
        <div class="row">
            <div class="col order-details-confirmation">
                <p class="text-center">Thank you for your order! A confirmation email will be sent to <strong>PUT DYNAMIC EMAIL HERE</strong></p>
                <div id="order-number">
                    Order number: <strong>{{ order.order_number }}</strong>
                </div>
                <div id="order-date">
                    Date: <strong>{{ order.date }}</strong>
                </div>
                <div id="delivery-details">
                    <div><strong>Delivery to:</strong></div>
                    <div>{{ order.full_name }}</div>
                    <div>{{ order.street_address_1 }}</div>
                    {% if order.street_address_2 %}
                        <div>{{ order.street_address_2 }}</div>
                    {% endif %}
                    <div>{{ order.town_city }}</div>
                    {% if order.county %}
                        <div>{{ order.county }}</div>
                    {% endif %}
                    {% if order.postcode %}
                        <div>{{ order.postcode }}</div>
                    {% endif %}
                    <div>{{ order.country }}</div>
                    <div>
                        {% if 'bibbidi-bobbidi-boo' in order.rewards_used %}
                            BIBBIDI BOBBIDI BOO USED
                        {% endif %}
                        {% if 'magic-lamp' in order.rewards_used %}
                            MAGIC LAMP USED
                        {% endif %}
                    </div>
                </div>
                <div id="billing-details">
                    <div>Billing Info:</div>
                </div>
            </div>
            <div class="col oder-summary">
                <div class="table-resposive">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                            {% for item in order.lineitems.all %}
                            <tr>
                                <td class="w-25">
                                    <img class="img-fluid" src="{{ item.product.image_url }}" alt="">
                                </td>
                                <td>
                                    <p>{{ item.product.name }}</p>
                                </td>
                                <td><p>£{{ item.product.price }}</p></td>
                                <td><p>{{ item.quantity }}</p></td>
                                <td><p>£{{ item.lineitem_total }}</p></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td><p>Subtotal: £{{ order.order_total }}</p></td>
                                <td><p>Delivery: £{{ order.delivery_cost }}</p></td>
                                <td><p>Grand Total: £{{ order.grand_total }}</p></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/info_section.html' %}
{% endblock %}