{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}
{% load checkout_tools %}

{% block extra_css %}
    <!-- checkout_syle.css -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout_style.css' %}">    
{% endblock %}

{% block content %}

<div id="checkout-success-page" class="container-fluid flex-grow-1">
    <div id="checkout-success-container" class="container rounded-4 my-4">
        <h1 class="text-center mb-2">Order Summary</h1>
        <div class="row">
            <div class="col order-details-confirmation">
                <p class="text-center">Thank you for your order! A confirmation email will be sent to <strong>PUT DYNAMIC EMAIL HERE</strong></p>
                <div id="order-number">
                    Order number: <strong>{{ order.order_number }}</strong>
                </div>
                <div id="order-date">
                    Date: <strong>{{ order.date }}</strong>
                </div>
                <div id="delivery-details">
                    <div><strong>Delivery to:</strong></div>
                    <div>{{ order.full_name }}</div>
                    <div>{{ order.street_address_1 }}</div>
                    {% if order.street_address_2 %}
                        <div>{{ order.street_address_2 }}</div>
                    {% endif %}
                    <div>{{ order.town_city }}</div>
                    {% if order.county %}
                        <div>{{ order.county }}</div>
                    {% endif %}
                    {% if order.postcode %}
                        <div>{{ order.postcode }}</div>
                    {% endif %}
                    <div>{{ order.country }}</div>
                    <div>
                        {% if 'bibbidi-bobbidi-boo' in order.rewards_used %}
                            BIBBIDI BOBBIDI BOO USED
                        {% endif %}
                        {% if 'magic-lamp' in order.rewards_used %}
                            MAGIC LAMP USED
                        {% endif %}
                    </div>
                </div>
                <div id="billing-details">
                    <div>Billing Info:</div>
                </div>
            </div>


            <div id="order-summary" class="col-12 col-md-6 order-md-last">
                <h4 id="order-summary-title" class="text-center mt-2">Items Ordered</h4>
                {% for item in order.lineitems.all %}
                <div class="row my-3">
                    <div class="col d-flex image-column align-items-center">
                        <div class=" position-relative">
                            <img class="img-fluid rounded-3" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                            <span class="mob-basket-badge position-absolute translate-middle badge rounded-pill">
                                {{ item.quantity }}
                            </span>
                        </div>
                    </div>
                    <div class="col flex-grow-1 d-flex flex-column">
                        <strong>{{ item.product.name }}</strong>
                        <small>{{ item.product.sku }}</small>
                        {% if order.rewards_used %}
                            {% if 'magic-lamp' in order.rewards_used %}
                                {% if forloop.counter < 4 %}
                                    {% if item.product.price == 0.00 %}
                                        <small class="text-danger">MAGIC LAMP</small> 
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if 'cave-of-wonders' in order.rewards_used %}
                                {% if item.product.price == 0.00 and item.product.realm.name == 'Agrabah' %}
                                    {% if 'magic-lamp' not in order.rewards_used %}
                                        <small class="text-danger">CAVE OF WONDERS</small>
                                    {% elif 'magic-lamp' in order.rewards_used and forloop.counter > 3 %}
                                        <small class="text-danger">CAVE OF WONDERS</small>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col d-flex item-total-column justify-content-end">
                        <strong class="{% if item.product.price == 0.00 %}text-danger{% endif %}">£{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                    </div>
                </div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col d-flex flex-column align-items-end">
                        {% if order.rewards_used and 'bibbidi-bobbidi-boo' in order.rewards_used %}
                            <p class="m-0">Subtotal: <strong class="text-decoration-line-through text-danger">£{{ order.order_total | calc_original_total | floatformat:2 }}</strong></p>
                            <p class="m-0 text-danger">'Bibbidi Bobbidi Boo' 20% discount.</p>
                            <p class="m-0">Subtotal: <strong>£{{ order.order_total | floatformat:2 }}</strong></p>
                        {% else %}
                            <p class="m-0">Subtotal: <strong>£{{ order.order_total | floatformat:2 }}</strong></p>
                        {% endif %}
                        <p class="m-0">Delivery: <strong>£{{ order.delivery_cost | floatformat:2 }}</strong></p>
                        <p class="m-0">Grand Total: <strong>£{{ order.grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
                <hr class="d-md-none">
            </div>

            
        </div>
    </div>
</div>
{% include 'includes/info_section.html' %}
{% endblock %}