/* Treasures Untold - profiles app CSS styling */
#profiles-page {
    background-color: var(--tu-mid-grey);
}

#profiles-page-container {
    background-color: var(--tu-off-white);
}

#order-history-table-container {
    background-color:#FFF;
    padding: 2rem;
    border-radius: 12px;
}

/* Media queries for larger screens. */
@media screen and (min-width: 768px) {    
    #order-history-table {
        max-height: 600px;
        overflow-y: scroll;
    }
}
