/* Treasures Untold - profiles app CSS styling */
#profiles-page {
    background-color: var(--tu-mid-grey);
}

#profiles-page-container {
    background-color: var(--tu-off-white);
}

#order-history-table-container {
    background-color: var(--tu-white);
    padding: 1.5rem;
    border-radius: 12px;
}

.order-table-order-number {
    max-width: 15vw !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* Media queries for larger screens. */
@media screen and (min-width: 768px) {    
    #order-history-table-container {
        height: 636px;
    }
    #order-history-table {
        height: 100%;
        overflow-y: auto;
    }
}

@media screen and (min-width: 992px) {    
    .order-table-order-number {
        max-width: fit-content !important;
    }
}
