{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

{% block extra_meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block extra_css %}
    <!-- products_style.css -->
    <link rel="stylesheet" href="{% static 'basket/css/basket_style.css' %}">    
{% endblock %}

{% block content %}
<div id="basket-page" class="container-fluid flex-grow-1">
    <div id="basket-container" class="container rounded-4 my-4 p-1">
        <div id="mobile-basket" class="d-md-none">
            {% include 'basket/includes/mobile_basket.html' %}
        </div>
        <div id="mobile-basket" class="d-none d-md-block">
            {% include 'basket/includes/desktop_basket.html' %}
        </div>
    </div>
</div>
{% include 'includes/info_section.html' %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- qty modifiers script -->
    <script src="{% static 'script/product_limits.js' %}"></script>
{% endblock %}