{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Basket</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div class="table-resposive">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                                {% for item in basket_items %}
                                <tr>
                                    <td class="w-25">
                                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="">
                                    </td>
                                    <td>
                                        <p><strong>{{ item.product.name }}</strong></p>
                                        <p><small>{{ item.product.sku }}</small></p>
                                    </td>
                                    <td><p>£{{ item.product.price }}</p></td>
                                    <td><p>{{ item.quantity }}</p></td>
                                    <td><p>£{{ item.product.price }}</p></td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td><p>Basket Total: £{{ total|floatformat:2 }}</p></td>
                                    <td><p>Delivery: £{{ delivery|floatformat:2 }}</p></td>
                                    <td><p>Grand Total: £{{ grand_total|floatformat:2 }}</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{ back_url }}" class="btn btn-secondary">Continue Shopping</a>
                                        <a href="" class="btn btn-secondary">Secure Checkout</a>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                {% else %}
                    <p>Your basket is empty</p>
                    <a href="{{ back_url }}" class="">Continue Shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}