/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* OVERRIDE BROWSER DEFAULTS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

/* GENERAL */
.hidden {
    display: none;
}

.disabled {
    cursor: default;
    opacity: 0.6;
}

h1 {
    font-family: 'Pirata One', serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#apeskinian {
    background-color: #405254;
    height: 30px;
    margin-bottom: 60px;
}

/* START> NAVIGATION BARS */
.top-nav {
    height: 200px;
    background: url('/static/images/banner.png') no-repeat top center;
    background-size: auto 100%;
}

#main-title {
    font-size: 60px;
    padding-bottom: 100px;
}

#navigation-menu {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

#account-and-basket {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

/* start> rotate dropdown arrow on click*/
.indicator i {
    transition: transform 0.3s ease-in-out;
}
  
.collapse.show + #by-realm-menu .indicator i,
  [data-bs-toggle="collapse"][aria-expanded="true"] .indicator i {
    transform: rotate(180deg);
}
/* end> rotate arrow on click*/

.offcanvas-right-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.offcanvas-left-close {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

#bottom-nav-mobile {
    height: 60px;
    background-color: #1B2429;
}

#bottom-nav-mobile .dropdown-menu {
    position: fixed;
    border-radius: 0;
    width: 100vw;
    background-color: lightgrey;
    border-color: #1B2429;
    bottom: 58px;
    left: 0;
}
/* END> NAVIGATION BARS */

/* START> INFO SECTION */
#support-links {
    background-color: #EBDAAF;
}

#support-social {
    font-size: 40px;
    background-color: #839680;
}

#support-newsletter {
    background-color: #934B59;
}

#newsletter-form-email {
    border-radius: 8px 0px 0px 8px;
    opacity: 0.50;
    border: none;
}

#newsletter-form-submit {
    background-color: white;
    border-radius: 0px 8px 8px 0px;
}
/* END> INFO SECTION */

/* START> MESSAGES */
.message-container {
    z-index: 10000;
    position: fixed;
    top: 70px;
    right: 20px;
}
/* END> MESSAGES */

/* START> PRODUCT VIEWS */
.card-spacer {
    padding-bottom: 1rem;
}

.out-of-stock {
    filter: saturate(0) blur(1.5px) brightness(1.5);
}

.text-red {
    color: rgb(200, 0, 0);
}

.scroll-button {
    background-color: white;
    border: 2px black solid;
    border-radius: 25%;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.scroll-link {
    cursor: pointer;
}
/* END> PRODUCT VIEWS */

/* START> PRODUCT FORM */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
/* END> PRODUCT FORM */

@media screen and (min-width: 768px) {
    .top-nav {
        height: 300px;
        background: url('/static/images/banner.png') no-repeat top center;
        background-size: auto 100%;
    }
    
    #main-title {
        font-size: 100px;
        padding-bottom: 150px;
    }
    
    #apeskinian {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .top-nav {
        height: 500px;
        background: url('/static/images/banner.png') no-repeat top center;
        background-size: auto 100%;
    }
    
    #main-title {
        font-size: 150px;
        padding-bottom: 200px;
    }
}