/* Treasures Untold - CSS styling*/
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Pirata+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/static/css/custom_colours.css');

/* Configuring custom colours */
:root {
    --tu-green: #687A66;
    --tu-green-hover: #839680;
    --tu-green-shadow: #5f6e5d80;
    --tu-red: #934B59;
    --tu-red-hover: #9e6671;
    --tu-red-shadow: #71394580;
    --tu-yellow: #E6B86E;
    --tu-yellow-hover: #C78D4B;
    --tu-yellow-shadow: #c78d4b80;
    --tu-blue: #437B93;
    --tu-blue-hover: #5190a5;
    --tu-blue-shadow: #3f758680;
    --tu-teal: #405254;
    --tu-teal-hover: #546b6e;
    --tu-teal-shadow: #28383abd;
    --tu-dark-teal: #1B2429;
    --tu-purple: #885b92;
    --tu-white: #FFF;
    --tu-off-white: #f0f0f0;
    --tu-light-grey: #dcdcdc;
    --tu-mid-grey: #b4b4b4;
    --tu-dark-grey: #555555;
    --tu-dark-grey-shadow: #55555580;
}

/* Override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

/* General attributes */
.hidden {
    display: none;
}

.disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
}

h1 {
    font-family: 'Pirata One', serif;
}

h2, h3, h4, h5 {
    font-family: 'Cantora One', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: 'Roboto', sans-serif;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--tu-white);
}

.product-realm-link {
    color: var(--tu-blue);
    text-decoration: none;
}

.product-realm-link:hover {
    text-decoration: underline;
}

/* Footer Styling */
#apeskinian {
    background-color: var(--tu-teal);
    height: 30px;
    margin-bottom: 59px;
}

/* START> Allauth */
.h1-style {
    font-family: 'Pirata One', serif;
    font-size: calc(1.375rem + 1.5vw);
}

.h2-size {
    font-size: calc(1.325rem + 0.9vw);
}

.h3-size {
    font-size: calc(1.25rem + 0.5vw);
}

.h4-size {
    font-size: calc(1rem + 0.3vw);
}

.h5-size {
    font-size: calc(0.875rem + 0.2vw);
}

.allauth-container {
    padding: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: var(--tu-off-white);
}

.allauth-inner-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tu-off-white);
    padding: 25px;
}

.allauth-inner-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.btn-auth {
    align-self: center;
    width: 100%;
    max-width: 400px;
}
/* END> Allauth */

/* START> Navigation elements */
.floating-top-nav {
    display: none;
    background-color: var(--tu-teal-shadow);
    position: fixed;
    height: 75px;
    width: 100vw;
    z-index: 1000;
}

#floating-navigation-menu {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

#floating-account-and-basket {
    position: absolute;
    top: 1.5rem;
    right: 2.4rem;
    
}

.btn-account {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.top-nav {
    position: relative;
    height: 40vw;
    max-height: 350px;
    background: url('/static/images/banner_small.webp') no-repeat top center;
    background-color: #0B0C13;
    background-size: auto min(40vw, 350px);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.main-title-container {
    text-align: center;
    width: fit-content;
    margin-bottom: min(8vw, 91px);
}

.main-title-hide {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

.main-title-show {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#main-title {
    font-size: min(13vw, 150px);
}

#navigation-menu {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

#account-and-basket {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.menu-link {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: var(--tu-dark-grey);
}

.menu-active {
    font-weight: bold;
    color: #000;
    font-size: 1.1rem;
}

/* START> rotate dropdown arrow on click */
.indicator i {
    transition: transform 0.3s ease-in-out;
}
  
.collapse.show + #by-realm-menu .indicator i,
  [data-bs-toggle="collapse"][aria-expanded="true"] .indicator i {
    transform: rotate(180deg);
}
/* END> rotate arrow on click */

.offcanvas-right-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.offcanvas-left-close {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.btn-basket {
    border-radius: 10px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* END> Navigation elements */

/* START> Mobile navigation elements */
#bottom-nav-mobile {
    height: 60px;
    background-color: var(--tu-dark-teal);
}

#bottom-nav-mobile .dropdown-menu {
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    border-color: var(--tu-light-grey);
    border-radius: 0;
    background-color: var(--tu-off-white);
    bottom: 58px;
}

.btn-mob-account {
    width: 250px;
}

.btn-mob-basket {
    width: 40%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-basket-badge {
    background-color: var(--tu-blue);
    border: 3px solid var(--tu-white);
    font-size: 1rem;
    top: 10%;
    left:90%;
}

#mob-items-scroller {
    max-height: 260px;
    overflow: scroll;
}

#mob-menu-links {
    max-height: calc(100dvh - 148px);
    overflow-y: scroll;
}

#mob-filter-menu {
    max-height: calc(100dvh - 236px);
    overflow-y: scroll;
}

#mob-menu-links a {
    font-size: 1rem;
}

#by-realm-menu-mobile {
    padding: 4px 0px;
}

#realm-collapse-mobile li {
    font-size: 1rem;
    padding: 4px 0px;
}

.mob-menu-active {
    font-weight: bold;
    background-color: var(--tu-mid-grey);
    color: var(--tu-white);
    border-radius: 10px;
}

.mob-nav-btn {
    color: var(--tu-mid-grey);
}

.mob-nav-btn[aria-expanded="true"] {
    color: var(--tu-white);
}
/* END> Mobile navigation elements */

/* START> Error pages */
#error-page {
    background-color: var(--tu-mid-grey);
}

#error-page-container {
    background-color: var(--tu-off-white);
}
/* END> Error pages */

/* START> Info section */
.support-container {
    max-width: 100vw;
    margin: 0;
}

#support-newsletter {
    background-color: var(--tu-red);
    background-image: url('/static/images/pattern_lamp.svg');
    background-size: 40px 40px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#div_id_newsletter-email {
    width: 100%;
    max-width: 350px;
    margin: 0 !important;
}

#id_newsletter-email {
    border-radius: 8px 0px 0px 8px;
    opacity: 0.50;
    border: 1px solid var(--tu-white);
}

#div_id_main_newsletter-email {
    width: 100%;
    max-width: 350px;
    margin: 0 !important;
}

#id_main_newsletter-email {
    border-radius: 8px 0px 0px 8px;
}

#main-subscriber-form-submit {
    color: var(--tu-white);
    background-color: var(--tu-green);
    border-radius: 0px 8px 8px 0px;
}

#newsletter-form-submit {
    background-color: white;
    border-radius: 0px 8px 8px 0px;
}

#support-social {
    background-color: var(--tu-green);
    background-image: url('/static/images/pattern_hook.svg');
    background-size: 40px 40px;
    height: 120px;
    font-size: 40px;
    background-color: var(--tu-green);
}

#support-links {
    background-color: var(--tu-green);
    background-image: url('/static/images/pattern_broom.svg');
    background-size: 40px 40px;
    height: 120px;
    color: var(--tu-white);
    background-color: var(--tu-blue);
}

#support-link-placeholder {
    visibility: hidden;
}
/* END> Info section */

/* START> Messages */
.message-container {
    z-index: 10000;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.toast {
    margin: 10px;
    background-color: var(--tu-off-white);
    border-radius: 8px;
}

.toast-body p {
    margin: 0 !important;
}

.toast-success {
    border: 4px solid var(--tu-green);
}

.toast-reward {
    border: 4px solid var(--tu-purple);
}

.toast-info {
    border: 4px solid var(--tu-blue);
}

.toast-error {
    border: 4px solid var(--tu-red);
}

.toast-warning {
    border: 4px solid var(--tu-yellow);
}
/* END> Messages */

/* START> Custom clearable file input */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
/* END> Custom clearable file input */

/* START> Scroll button */
#scroll-button {
    background-color: var(--tu-teal);
    color: var(--tu-white);
    border-radius: 25%;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.scroll-button-hide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.scroll-link {
    cursor: pointer;
}
/* END> Scroll button */

/* Media queries for larger screens. */
@media screen and (min-width: 576px) {
    .top-nav {
        background: url('/static/images/banner.webp') no-repeat top center;
        background-color: #0B0C13;
        background-size: auto min(40vw, 350px);
    }
}

@media screen and (min-width: 768px) {
    /* Allauth */
    .allauth-container {    
        background-color: var(--tu-mid-grey);
        padding: 40px 0px;
    }

    .allauth-inner-content {
        border-radius: 20px;
    }
    
    /* Info section */
    #support-social {
        height: 160px;
    }
    
    #support-links {
        height: 160px;
    }

    /* Footer */
    #apeskinian {
        margin-bottom: 0;
    }

    /* Messages */
    .message-container {
        top: auto;
        left: auto;
        bottom: 40px;
        right: 20px;
        transform: none;
    }
}
