/* START> BUTTONS */
/* GREEN */
.btn-green {
    color: #FFF;
    background-color: var(--tu-green);
    border-color: var(--tu-green);
}

.btn-green:hover {
    color: #FFF;
    background-color: var(--tu-green-hover);
    border-color: var(--tu-green-hover);
}

.btn-green:focus {
    color: #FFF;
    background-color: var(--tu-green);
    border-color: var(--tu-green);
    box-shadow: 0 0 0 4px var(--tu-green-shadow);
}

.btn-green:active {
    color: #FFF !important;
    background-color: var(--tu-green-hover) !important;
    border-color: var(--tu-green-hover) !important;
}

/* RED */
.btn-red {
    color: #FFF;
    background-color: var(--tu-red);
    border-color: var(--tu-red);
}

.btn-red:hover {
    color: #FFF;
    background-color: var(--tu-red-hover);
    border-color: var(--tu-red-hover);
}

.btn-red:focus {
    color: #FFF;
    background-color: var(--tu-red);
    border-color: var(--tu-red);
    box-shadow: 0 0 0 4px var(--tu-red-shadow);
}

.btn-red:active {
    color: #FFF !important;
    background-color: var(--tu-red-hover) !important;
    border-color: var(--tu-red-hover) !important;
}

/* YELLOW */
.btn-yellow {
    color: #000;
    background-color: var(--tu-yellow);
    border-color: var(--tu-yellow);
}

.btn-yellow:hover {
    color: #000;
    background-color: var(--tu-yellow-hover);
    border-color: var(--tu-yellow-hover);
}

.btn-yellow:focus {
    color: #000;
    background-color: var(--tu-yellow);
    border-color: var(--tu-yellow);
    box-shadow: 0 0 0 4px var(--tu-yellow-shadow);
}

.btn-yellow:active {
    color: #000 !important;
    background-color: var(--tu-yellow-hover) !important;
    border-color: var(--tu-yellow-hover) !important;
}

/* BLUE */
.btn-blue {
    color: #FFF;
    background-color: var(--tu-blue);
    border-color: var(--tu-blue);
}

.btn-blue:hover {
    color: #FFF;
    background-color: var(--tu-blue-hover);
    border-color: var(--tu-blue-hover);
}

.btn-blue:focus {
    color: #FFF;
    background-color: var(--tu-blue);
    border-color: var(--tu-blue);
    box-shadow: 0 0 0 4px var(--tu-blue-shadow);
}

.btn-blue:active {
    color: #FFF !important;
    background-color: var(--tu-blue-hover) !important;
    border-color: var(--tu-blue-hover) !important;
}

/* TEAL */
.btn-teal {
    color: #FFF;
    background-color: var(--tu-teal);
    border-color: var(--tu-teal);
}

.btn-teal:hover {
    color: #FFF;
    background-color: var(--tu-teal-hover);
    border-color: var(--tu-teal-hover);
}

.btn-teal:focus {
    color: #FFF;
    background-color: var(--tu-teal);
    border-color: var(--tu-teal);
    box-shadow: 0 0 0 4px var(--tu-teal-shadow);
}

.btn-teal:active {
    color: #FFF !important;
    background-color: var(--tu-teal-hover) !important;
    border-color: var(--tu-teal-hover) !important;
}
/* END> BUTTONS */

 /* START> FORMS */
 .form-control:focus {
     box-shadow: 0 0 0 4px var(--tu-gree-shadow);
     border-color: var(--tu-green);
    }
/* END> FORMS */

/* START> DROPDOWN ELEMENTS */
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--tu-light-grey);
    border-radius: 10px;
}
/* END> DROPDOWN ELEMENTS */