/* START> BUTTONS */
/* GREEN */
.btn-green,
.btn-green:focus {
    color: var(--tu-white);
    background-color: var(--tu-green);
    border-color: var(--tu-green);
}

.btn-green:focus {
    box-shadow: 0 0 0 4px var(--tu-green-shadow);
}

.btn-green:hover,
.btn-green:active,
.btn-green.disabled {
    color: var(--tu-white) !important;
    background-color: var(--tu-green-hover) !important;
    border-color: var(--tu-green-hover) !important;
}

/* RED */
.btn-red,
.btn-red:focus {
    color: var(--tu-white);
    background-color: var(--tu-red);
    border-color: var(--tu-red);
}

.btn-red:focus {
    box-shadow: 0 0 0 4px var(--tu-red-shadow);
}

.btn-red:hover,
.btn-red:active,
.btn-red.disabled {
    color: var(--tu-white) !important;
    background-color: var(--tu-red-hover) !important;
    border-color: var(--tu-red-hover) !important;
}

/* YELLOW */
.btn-yellow,
.btn-yellow:focus {
    color: #000;
    background-color: var(--tu-yellow);
    border-color: var(--tu-yellow);
}

.btn-yellow:focus {
    box-shadow: 0 0 0 4px var(--tu-yellow-shadow);
}

.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow.disabled {
    color: #000 !important;
    background-color: var(--tu-yellow-hover) !important;
    border-color: var(--tu-yellow-hover) !important;
}

/* BLUE */
.btn-blue,
.btn-blue:focus {
    color: var(--tu-white);
    background-color: var(--tu-blue);
    border-color: var(--tu-blue);
}

.btn-blue:focus {
    box-shadow: 0 0 0 4px var(--tu-blue-shadow);
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue.disabled {
    color: var(--tu-white) !important;
    background-color: var(--tu-blue-hover) !important;
    border-color: var(--tu-blue-hover) !important;
}

/* TEAL */
.btn-teal,
.btn-teal:focus {
    color: var(--tu-white);
    background-color: var(--tu-teal);
    border-color: var(--tu-teal);
}

.btn-teal:focus {
    box-shadow: 0 0 0 4px var(--tu-teal-shadow);
}

.btn-teal:hover,
.btn-teal:active,
.btn-teal.disabled {
    color: var(--tu-white) !important;
    background-color: var(--tu-teal-hover) !important;
    border-color: var(--tu-teal-hover) !important;
}
/* END> BUTTONS */

/* START> FORMS */
.form-control:focus {
    box-shadow: 0 0 0 4px var(--tu-gree-shadow);
    border-color: var(--tu-green);
}

.form-control:hover {
    background-color: var(--tu-off-white);
}

.form-control:active {
    background-color: var(--tu-white);
}
/* END> FORMS */

/* START> DROPDOWN ELEMENTS */
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--tu-light-grey);
    border-radius: 10px;
}
/* END> DROPDOWN ELEMENTS */

.text-green {
    color: var(--tu-green);
}

.text-red {
    color: var(--tu-red);
}

.text-grey {
    color: var(--tu-dark-grey);
}