<div class="container">
    <div class="row">
      <div class="col col-lg-8 offset-lg-2">
          <h5>Congratulations! You’ve Unearthed a New Treasure!</h5>
          <p>Welcome to the realm of hidden wonders and untold riches. Your subscription to the Treasures Untold newsletter has been successful! Get ready to embark on a journey through enchanted realms and exclusive offers. We’ll send you the latest magical discoveries, behind-the-scenes secrets, and special promotions straight to your inbox.</p>
          <h5>What’s Next?</h5>
          <i class="fa-solid fa-wand-magic-sparkles fa-xs"></i> <strong>Stay Tuned:</strong> Keep an eye on your inbox for upcoming releases, product updates, and special promotions.<br>
          <i class="fa-solid fa-wand-magic-sparkles fa-xs"></i> <strong>Explore the Realms:</strong> Dive into the mystical worlds of Treasures Untold and discover enchanted artifacts waiting for you.<br>
          <i class="fa-solid fa-wand-magic-sparkles fa-xs"></i> <strong>Connect with Us:</strong> Join the community on our social media for the latest updates, contests, and more.<br>
          <br>
          <p>We can’t wait to share the next chapter with you!</p>
          
          <a href="{{ return_url }}" class="btn btn-success">Return</a>
        </div>
    </div>
</div>