{% if user.is_authenticated %}
    <li class="text-center"><a href="{% url 'profile' %}" class="dropdown-item" id="profile-page" aria-label="go to your profile page">Profile</a></li>
    {% if user.is_staff %}
        <li class="text-center"><a href="{% url 'dashboard' %}" class="dropdown-item" id="staff" aria-label="go to the settings page">Staff Dashboard</a></li>
    {% endif %}
    {% if user.is_superuser %}
        <li class="text-center"><a href="{% url 'admin:index' %}" target="_blank" class="dropdown-item" id="admin-btn" aria-label="go to the admin page">Admin Portal</a></li>
    {% endif %}
    <li class="text-center"><a href="{{ logout_url }}" class="dropdown-item" aria-label="sign out">Log out</a></li>
{% else %}
    <li class="text-center"><a href="{{ login_url }}" class="dropdown-item">Log in</a></li>
    <li class="text-center"><a href="{{ signup_url }}" class="dropdown-item">Sign up</a></li>
{% endif %}