{% load static %}
{% load basket_tools %}
<!-- mobile navbar -->
<nav id="bottom-nav-mobile" class="d-flex justify-content-evenly d-md-none navbar fixed-bottom p-3">
    <div id="account-options" class="dropup">
        <a class="text-white" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-hat-wizard fa-xl"></i>
        </a>
        <div class="dropdown-menu p-2 text-center">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn btn-green btn-mob-account mt-3" id="profile-page" aria-label="go to your profile page">Profile</a>
                {% if user.is_staff %}
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-mob-account mt-2" id="staff" aria-label="go to the settings page">Shop Management</a>
                {% endif %}
                {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}" class="btn btn-secondary btn-mob-account mt-2" id="admin-btn" aria-label="go to the admin page">Admin Portal</a>
                {% endif %}
                <a href="{{ logout_url }}" class="btn btn-red btn-mob-account my-2" aria-label="sign out">Log out</a>
                <p class="m-0">Logged in as: <strong>{{ user.username }}</strong></p>
            {% else %}
                <a href="{{ login_url }}" class="btn btn-green btn-mob-account mt-2">Log in</a>
                <a href="{{ signup_url }}" class="btn btn-green btn-mob-account my-2">Sign up</a>
            {% endif %}
        </div>
    </div>
    <div id="navigation-options" class="dropup">
        <a class="text-white" href="#" id="user-options" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-bars fa-xl"></i>
        </a>
        <div id="mob-menu-options" class="dropdown-menu p-3">
            <div id="mob-menu-links" class="text-center">
                <a href="{% url 'home' %}" class="dropdown-item {% if request.path == '/' %}mob-menu-active{% endif %}" aria-label="go to the home page">Home</a>
                <a href="{% url 'products' %}?new" class="dropdown-item {% if 'new' in request.GET %}mob-menu-active{% endif %}" aria-label="see the new products">New</a>
                <a href="{% url 'products' %}" class="dropdown-item {% if not request.GET and request.path == '/products/' %}mob-menu-active{% endif %}" aria-label="shop all products">All Products</a>
                <div id="by-realm-menu-mobile">
                    <a href="#realm-collapse-mobile" class="nav-link text-black px-3" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="realm-collapse-mobile">
                        By Realm
                        <span class="indicator">
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </a>
                </div>
                <div id="realm-collapse-mobile" class="collapse list-unstyled">
                    {% for realm in all_realms %}
                    <a class="dropdown-item {% if forloop.first %}mt-2{% endif %}{% if realm.name in request.GET.realm %} mob-menu-active{% endif %}" href="{% url 'products' %}?realm={{ realm.name }}">{{ realm.display_name }}</a>
                    {% endfor %}
                </div>
                <a href="{% url 'faq' %}" class="dropdown-item {% if request.path == '/support/faq/' %}mob-menu-active{% endif %}" aria-label="see our faqs">FAQ</a>
                <a href="{% url 'contact' %}" class="dropdown-item {% if request.path == '/support/contact/' %}mob-menu-active{% endif %}" aria-label="go to the contact us page">Contact Us</a>
                <a href="{% url 'privacy' %}" class="dropdown-item {% if request.path == '/support/privacy/' %}mob-menu-active{% endif %}" aria-label="view our privacy statement">Privacy</a>
                <a href="{% url 'newsletter' %}" class="dropdown-item {% if request.path == '/support/newsletter/' %}mob-menu-active{% endif %}" aria-label="sign up to our newsletter">Newsletter</a>
            </div>
            <div id="search-box" class="px-3 mb-2 mt-2">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input class="form-control rounded-5" type="text" name="q" placeholder="Search the trove...">
                        <button class="btn btn-black" type="submit">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass fa-l"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="basket" class="dropup">
        <a class="text-white" href="#" id="user-options" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-basket-shopping fa-xl"></i>
        </a>
        <div class="dropdown-menu">
            {% if basket_items %}
                <h1 class="text-center mt-1">Shopping Basket</h1>
                <div class="container mb-3 px-4">
                    <div class="row">
                        <div id="items-scroller" class="col">
                            {% for item in basket_items %}
                            <div class="row mt-3 d-flex mb-2">
                                <div class="col-3 d-flex align-items-center">
                                    <div class="position-relative">
                                        <img class="img-fluid rounded-3" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                                        <span class="mob-basket-badge position-absolute translate-middle badge rounded-pill">
                                            {{ item.quantity }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-3 flex-grow-1 d-flex flex-column justify-content-center">
                                    <strong>{{ item.product.name }}</strong>
                                    <small>{{ item.product.sku }}</small>
                                    {% if rewards %}
                                        {% if 'magic-lamp' in rewards %}
                                            {% if forloop.counter < 4 %}
                                                {% if item.product.price == 0.00 %}
                                                    <small class="text-danger">MAGIC LAMP</small> 
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if 'cave-of-wonders' in rewards %}
                                            {% if item.product.price == 0.00 %}
                                                <small class="text-danger">CAVE OF WONDERS</small> 
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-3 d-flex justify-content-end align-items-center">
                                    {% if item.product.price == 0.00 %}
                                        <strong class="text-danger">£{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                                    {% else %}
                                        <strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col d-flex flex-column align-items-end">
                            {% if rewards and 'bibbidi-bobbidi-boo' in rewards %}
                                <p class="m-0">Subtotal: <strong class="text-decoration-line-through text-danger">£{{ original_total|floatformat:2 }}</strong></p>
                                <p class="m-0 text-danger">'Bibbidi Bobbidi Boo' 20% discount.</p>
                                <p class="m-0">Subtotal: <strong>£{{ total|floatformat:2 }}</strong></p>
                            {% else %}
                                <p class="m-0">Subtotal: <strong>£{{ total|floatformat:2 }}</strong></p>
                            {% endif %}
                            <p class="m-0">Delivery: <strong>£{{ delivery|floatformat:2 }}</strong></p>
                            <p class="m-0">Grand Total: <strong>£{{ grand_total|floatformat:2 }}</strong></p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="d-flex flex-column align-items-center mt-4 mb-5">
                    <p class="mb-1">Your basket is empty</p>
                    <a href="{% url 'products' %}" class="btn-mob-basket btn btn-blue w-50">Continue Shopping</a>
                </div>
            {% endif %}
            <div class="d-flex gap-2 justify-content-center mb-2">
                <a href="{% url 'view_basket' %}" class="btn-mob-basket btn btn-yellow" aria-label="edit the basket">Edit Basket</a>
                <a href="{% url 'checkout' %}" class="btn-mob-basket btn btn-green" aria-label="view the basket">Secure Checkout</a>
            </div
        </div>
    </div>
</nav>