{% load static %}
{% load basket_tools %}
<!-- Mobile Navbar -->
<nav id="bottom-nav-mobile" class="d-flex justify-content-evenly d-md-none navbar fixed-bottom p-3">
    <!-- Account Menu -->
    <div id="account-options" class="dropup">
        <a class="mob-nav-btn" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static" aria-expanded="false" aria-label="account menu">
            <i class="fa-solid fa-hat-wizard fa-xl"></i>
        </a>
        <div class="dropdown-menu p-2 text-center">
            {% if user.is_authenticated %}
                <div><a href="{% url 'profile' %}" class="btn btn-green btn-mob-account my-1" id="mob-profile-page" aria-label="go to your profile page">Profile</a></div>
                {% if user.is_staff %}
                    <div><a href="{% url 'dashboard' %}" class="btn btn-teal btn-mob-account my-1" id="mob-staff" aria-label="go to the staff dashboard page">Staff Dashboard</a></div>
                {% endif %}
                {% if user.is_superuser %}
                    <div><a href="{% url 'admin:index' %}" target="_blank" rel="noopener noreferrer" class="btn btn-teal btn-mob-account my-1" id="mob-admin-btn" aria-label="go to the admin page">Admin Portal</a></div>
                {% endif %}
                <div><a href="{{ logout_url }}" class="btn btn-red btn-mob-account my-1" aria-label="sign out">Log out</a></div>
                <div><p class="m-0">Logged in as: <strong>{{ user.username }}</strong></p></div>
            {% else %}
                <div><a href="{{ login_url }}" class="btn btn-green btn-mob-account my-1">Log in</a></div>
                <div><a href="{{ signup_url }}" class="btn btn-green btn-mob-account my-1">Sign up</a></div>
            {% endif %}
        </div>
    </div>
    <!-- Site Navigation Links -->
    <div id="navigation-options" class="dropup">
        <a class="mob-nav-btn" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static" aria-expanded="false" aria-label="navigation menu">
            <i class="fa-solid fa-bars fa-xl"></i>
        </a>
        <div id="mob-menu-options" class="dropdown-menu p-3">
            <div id="mob-menu-links" class="text-center">
                <a href="{% url 'home' %}" class="dropdown-item {% if request.path == '/' %}mob-menu-active{% endif %}" aria-label="go to the home page">Home</a>
                <a href="{% url 'products' %}?new" class="dropdown-item {% if 'new' in request.GET and not 'realm' in request.GET %}mob-menu-active{% endif %}" aria-label="see the new products">New</a>
                <a href="{% url 'products' %}" class="dropdown-item {% if not request.GET and request.path == '/products/' %}mob-menu-active{% endif %}" aria-label="shop all products">All Products</a>
                <div id="by-realm-menu-mobile">
                    <a href="#realm-collapse-mobile" class="nav-link text-black px-3" data-bs-toggle="collapse" role="button" aria-expanded="{% if 'realm' in request.GET %}true{% else %}false{% endif %}" aria-controls="realm-collapse-mobile" aria-label="select a realm">
                        By Realm
                        <span class="indicator">
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </a>
                </div>
                <div id="realm-collapse-mobile" class="collapse list-unstyled {% if 'realm' in request.GET %}show{% endif %}">
                    {% for realm in all_realms %}
                    <a class="dropdown-item {% if forloop.first %}mt-2{% endif %}{% if realm.name in request.GET.realm %} mob-menu-active{% endif %}" href="{% url 'products' %}?realm={{ realm.name }}" aria-label="view products from {{ realm.display_name }}">{{ realm.display_name }}</a>
                    {% endfor %}
                </div>
                <a href="{% url 'faq' %}" class="dropdown-item {% if request.path == '/support/faq/' %}mob-menu-active{% endif %}" aria-label="see our faqs">FAQ</a>
                <a href="{% url 'contact' %}" class="dropdown-item {% if request.path == '/support/contact/' %}mob-menu-active{% endif %}" aria-label="go to the contact us page">Contact Us</a>
                <a href="{% url 'newsletter' %}" class="dropdown-item {% if request.path == '/support/newsletter/' %}mob-menu-active{% endif %}" aria-label="sign up to our newsletter">Newsletter</a>
                <a href="{% url 'returns' %}" class="dropdown-item {% if request.path == '/support/returns/' %}mob-menu-active{% endif %}" aria-label="view our returns policy">Returns Policy</a>
                <a href="{% url 'privacy' %}" class="dropdown-item {% if request.path == '/support/privacy/' %}mob-menu-active{% endif %}" aria-label="view our privacy statement">Privacy Statement</a>
                <a href="{% url 'terms' %}" class="dropdown-item {% if request.path == '/support/terms/' %}mob-menu-active{% endif %}" aria-label="view our terms and conditions">Terms and Conditions</a>
            </div>
            <div id="mob-search-box" class="px-3 mb-2 mt-2">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input class="form-control rounded-5" type="text" name="q" placeholder="Search the trove...">
                        <button class="btn btn-black" type="submit" aria-label="search">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass fa-l"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if request.path == '/products/' %}
    <div id="filter-options-dropup" class="dropup">
        <a class="mob-nav-btn" href="#" id="filter-options" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static" aria-expanded="false" aria-label="sort and filter menu">
            <i class="fa-solid fa-filter fa-xl"></i>
        </a>
        <div id="mob-filter-options" class="dropdown-menu p-3">
            <div id="mob-filter-menu" class="d-flex flex-column justify-content-start align-items-center">
                <form id="filter-form-mobile" class="mb-3">
                    <div class="mb-2">
                        <p class="mb-1 fw-bold">Stock</p>
                        <input type="checkbox" id="checkbox-new-mobile" name="new" value="new" {% if showing_new %}checked{% endif %}>
                        <label for="checkbox-new-mobile"> New</label><br>
                        <input type="checkbox" id="checkbox-instock-mobile" name="stock" value="in" {% if "in" in showing_stock %}checked{% endif %}>
                        <label for="checkbox-instock-mobile"> In stock</label><br>
                        <input type="checkbox" id="checkbox-outofstock-mobile" name="stock" value="out" {% if "out" in showing_stock %}checked{% endif %}>
                        <label for="checkbox-outofstock-mobile"> Out of stock</label><br>
                    </div>
                    <div>
                        <p class="mb-1 fw-bold">Realm</p>
                        {% for realm in all_realms %}
                        <input type="checkbox" id="checkbox-{{ realm.name|lower }}-mobile" name="realm" value="{{ realm.name }}" {% if realm.name in current_realms_names %}checked{% endif %}>
                        <label for="checkbox-{{ realm.name|lower }}-mobile"> {{ realm.display_name }}</label><br>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div id="clear-apply-sort" class="px-3 mt-2">
                <div class="sort-and-filter-buttons">
                    <div class="sort-selector_wrapper w-100">
                        <select id="sort-selector-mobile" class="form-control">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="realm_asc" {% if current_sorting == 'realm_asc' %}selected{% endif %}>Realm (A-Z)</option>
                            <option value="realm_desc" {% if current_sorting == 'realm_desc' %}selected{% endif %}>Realm (Z-A)</option>
                        </select>
                    </div>            
                    <a href="{% url 'products' %}" class="btn btn-teal m-1 mt-2 w-100" aria-label="clear filters">Clear</a>
                    <button id="submit-filter-mobile" class="btn btn-green m-1 w-100" aria-label="apply selected filters">Apply</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Basket View -->
    <div id="basket" class="dropup">
        {% if user.is_authenticated %}
            <a class="mob-nav-btn" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static" aria-expanded="false" aria-label="shopping basket">
                <i class="fa-solid fa-basket-shopping fa-xl"></i>
            </a>
        {% else %} 
            <div class="mob-nav-btn disabled">
                <i class="fa-solid fa-basket-shopping fa-xl"></i>
            </div>   
        {% endif %}
        <div class="dropdown-menu">
            <h2 class="text-center mt-1">Shopping Basket</h2>
            <!-- Check for basket items and show if present -->
            {% if basket_items %}
                <div class="container mb-3 px-4">
                    <div class="row">
                        <div id="mob-items-scroller" class="col">
                            {% for item in basket_items %}
                            <div class="row mt-3 d-flex mb-2">
                                <div class="col-3 d-flex align-items-center">
                                    <div class="position-relative">
                                        <img class="img-fluid rounded-3" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                                        <span class="mob-basket-badge position-absolute translate-middle badge rounded-pill">
                                            {{ item.quantity }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-3 flex-grow-1 d-flex flex-column justify-content-center">
                                    <strong>{{ item.product.name }}</strong>
                                    <small>{{ item.product.sku }}</small>
                                    {% if rewards %}
                                        {% if 'magic-lamp' in rewards %}
                                            {% if forloop.counter < 4 %}
                                                {% if item.product.price == 0.00 %}
                                                    <small class="text-danger">MAGIC LAMP</small> 
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if 'cave-of-wonders' in rewards %}
                                            {% if item.product.price == 0.00 and item.product.realm.name == 'Agrabah' %}
                                                {% if 'magic-lamp' not in rewards %}
                                                    <small class="text-danger">CAVE OF WONDERS</small>
                                                {% elif 'magic-lamp' in rewards and forloop.counter > 3 %}
                                                    <small class="text-danger">CAVE OF WONDERS</small>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-3 d-flex justify-content-end align-items-center">
                                    {% if item.product.price == 0.00 %}
                                        <strong class="text-danger">£{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                                    {% else %}
                                        <strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col d-flex flex-column align-items-end">
                            {% if rewards and 'bibbidi-bobbidi-boo' in rewards %}
                                <p class="m-0">Subtotal: <strong class="text-decoration-line-through text-danger">£{{ original_total|floatformat:2 }}</strong></p>
                                <p class="m-0 text-danger">'Bibbidi Bobbidi Boo' 20% discount.</p>
                                <p class="m-0">Subtotal: <strong>£{{ total|floatformat:2 }}</strong></p>
                            {% else %}
                                <p class="m-0">Subtotal: <strong>£{{ total|floatformat:2 }}</strong></p>
                            {% endif %}
                            <p class="m-0">Delivery: <strong>£{{ delivery|floatformat:2 }}</strong></p>
                            <p class="m-0">Grand Total: <strong>£{{ grand_total|floatformat:2 }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mb-2">
                    <a href="{% url 'view_basket' %}" class="btn-mob-basket btn btn-blue" aria-label="edit the basket">Edit Basket</a>
                    <a href="{% url 'checkout' %}" class="btn-mob-basket btn btn-green" aria-label="go to secure checkout">Secure Checkout</a>
                </div>
            {% else %}
            <!-- Inform user of empty basket -->
            <div class="d-flex flex-column align-items-center mt-4 mb-5">
                <p class="mb-1">Your basket is empty</p>
                <a href="{% url 'products' %}" class="btn-mob-basket btn btn-blue w-50">Continue Shopping</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>