{% load static %}
<!-- mobile navbar -->
<nav id="bottom-nav-mobile" class="d-flex justify-content-evenly d-md-none navbar fixed-bottom p-3">
    <div class="dropup">
        <a class="text-white" href="#" id="user-options" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-hat-wizard fa-xl"></i>
        </a>
        <ul class="dropdown-menu">
            {% include 'includes/login_options.html' %}
        </ul>
    </div>
    <div class="dropup">
        <a class="text-white" href="#" id="user-options" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-bars fa-xl"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="text-center"><a href="{% url 'home' %}" class="dropdown-item" aria-label="go to the home page">Home</a></li>
            <li class="text-center"><a href="{% url 'products' %}?new" class="dropdown-item" aria-label="see the new products">New</a></li>
            <li class="text-center"><a href="{% url 'products' %}" class="dropdown-item" aria-label="shop all products">All Products</a></li>
            <li class="text-center">
                <div id="by-realm-menu-mobile">
                    <a href="#realm-collapse-mobile" class="nav-link text-black" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="realm-collapse-mobile">
                        By Realm
                        <span class="indicator">
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </a>
                </div>
                <ul id="realm-collapse-mobile" class="collapse list-unstyled ms-3">
                    {% for realm in all_realms %}
                        <li><a class="nav-link {% if forloop.first %}mt-2{% endif %}" href="{% url 'products' %}?realm={{ realm.name }}">{{ realm.display_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="text-center"><a href="{% url 'faq' %}" class="dropdown-item" aria-label="see our faqs">FAQ</a></li>
            <li class="text-center"><a href="{% url 'contact' %}" class="dropdown-item" aria-label="go to the contact us page">Contact Us</a></li>
            <li class="text-center"><a href="{% url 'privacy' %}" class="dropdown-item" aria-label="view our privacy statement">Privacy</a></li>
            <li class="text-center"><a href="{% url 'newsletter' %}" class="dropdown-item" aria-label="sign up to our newsletter">Newsletter</a></li>
            <li>
                <div id="search-box" class="px-3 mb-2 mt-2">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group">
                            <input class="form-control rounded-5" type="text" name="q" placeholder="Search the trove...">
                            <button class="btn btn-black" type="submit">
                                <span class="icon">
                                    <i class="fa-solid fa-magnifying-glass fa-l"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="dropup">
        <a class="text-white" href="#" id="user-options" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-basket-shopping fa-xl"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div>
                    {% if basket_items %}
                        <div class="table-resposive">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                    {% for item in basket_items %}
                                    <tr>
                                        <td class="w-25">
                                            <img class="img-fluid" src="{{ item.product.image_url }}" alt="">
                                        </td>
                                        <td>
                                            <p><strong>{{ item.product.name }}</strong></p>
                                            <p><small>{{ item.product.sku }}</small></p>
                                        </td>
                                        <td><p>£{{ item.product.price }}</p></td>
                                        <td><p>{{ item.quantity }}</p></td>
                                        <td><p>£{{ item.product.price }}</p></td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><p>Basket Total: £{{ total|floatformat:2 }}</p></td>
                                        <td><p>Delivery: £{{ delivery|floatformat:2 }}</p></td>
                                        <td><p>Grand Total: £{{ grand_total|floatformat:2 }}</p></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        {% else %}
                        <p>Your basket is empty</p>
                        <a href="{% url 'products' %}" class="">Continue Shopping</a>
                        {% endif %}
                </div>
            </li>
            <li class="text-center"><div class="btn btn-secondary"><a href="{% url 'view_basket' %}" class="dropdown-item" aria-label="view the basket">View Basket</a></div></li>
            <li class="text-center"><div class="btn btn-secondary"><a href="{% url 'checkout' %}" class="dropdown-item btn btn-secondary" aria-label="view the basket">Secure Checkout</a></div></li>
        </ul>
    </div>
</nav>