{% load static %}
<!-- larger navbar -->
<nav class="top-nav navbar">
    <div class="container-fluid">
        <!-- <a href="{% url 'home' %}" class="navbar-brand d-none d-md-block">
            TREASURES UNTOLD
        </a> -->
        <div id="search-box" class="position-absolute top-50 start-50 translate-middle">
            <form method="GET" action="#">
                <div class="input-group w-100">
                    <input class="form-control rounded-5" type="text" name="q" placeholder="Search the trove...">
                    <button class="btn btn-black" type="submit">
                        <span class="icon">
                            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="d-none d-md-flex gap-3 ms-auto align-items-center">
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="text-center" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,10" data-bs-title="Account">
                        <i class="fa-solid fa-hat-wizard fa-xl"></i>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end mt-3">
                    {% include 'includes/login_options.html' %}
                </ul>
            </li>
            <a class="text-black nav-link" href="#" id="basket">
                <div class="text-center" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,10" data-bs-title="{% if grand_total %}£{{ grand_total|floatformat:2 }}{% else %}£0.00{% endif %}">
                    <i class="fa-solid fa-basket-shopping fa-xl"></i>
                </div>
            </a>
        </div>
    </div>
</nav>
