{% load static %}
<!-- mobile navbar -->
<nav id="bottom-nav-mobile" class="d-flex justify-content-evenly d-md-none navbar bg-white fixed-bottom p-3">
    <div class="dropup">
        <a class="text-black" href="#" id="user-options" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-hat-wizard fa-xl"></i>
        </a>
        <ul class="dropdown-menu">
            {% include 'includes/login_options.html' %}
        </ul>
    </div>
    <div class="dropup">
        <a class="text-black" href="#" id="user-options" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-bars fa-xl"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="text-center"><a href="{% url 'home' %}" class="dropdown-item" aria-label="go to the home page">HOME</a></li>
            <li class="text-center"><a href="#" class="dropdown-item" aria-label="">TBC</a></li>
            <li class="text-center"><a href="#" class="dropdown-item" aria-label="">TBC</a></li>
            <li class="text-center"><a href="#" class="dropdown-item" aria-label="">TBC</a></li>
            <li class="text-center"><a href="#" class="dropdown-item" aria-label="">TBC</a></li>
        </ul>
    </div>
    <div class="dropup">
        <a class="text-black" href="#" id="user-options" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-basket-shopping fa-xl"></i>
        </a>
        <div class="dropdown-menu">
            <p class="text-center">BASKET DETAILS</p>
        </div>
    </div>
</nav>