{% load static %}
<!-- larger navbar -->
<nav class="top-nav container-fluid p-0 bg-white navbar d-flex justify-content-center">
    <!-- Navigation Offcanvas -->
    <div id="navigation-menu" class="d-none d-md-block">
        <a data-bs-toggle="offcanvas" href="#offcanvas-nav" aria-controls="offcanvas-nav" role="button" class="text-white">
            <i class="fa-solid fa-bars fa-xl"></i>
        </a>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-nav" aria-labelledby="offcanvas-navLabel">
        <div class="offcanvas-header">
            <a data-bs-dismiss="offcanvas" href="#offcanvas-nav" aria-label="Close" role="button" class="offcanvas-left-close text-black">
                <i class="fa-solid fa-bars fa-xl"></i>
            </a>
        </div>
        <div class="offcanvas-body">
            <!-- search bar -->
            <div id="search-box" class="w-100 mt-3">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input class="form-control rounded-5" type="text" name="q" placeholder="Search the trove...">
                        <button class="btn btn-black" type="submit">
                            <span class="icon">
                                <i class="fa-solid fa-magnifying-glass fa-l"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="mt-3 ms-2">
                <a href="{% url 'home' %}" class="text-black nav-link">Home</a>
                <a href="{% url 'products' %}?new" class="text-black nav-link mt-1">New</a>
                <a href="{% url 'products' %}" class="text-black nav-link mt-1 mb-1">All Products</a>
                <div id="by-realm-menu">
                    <a href="#realm-collapse" class="nav-link text-black" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="realm-collapse">
                        By Realm
                        <span class="indicator">
                            <i class="fa-solid fa-angle-down ms-5"></i>
                        </span>
                    </a>
                </div>
                <ul id="realm-collapse" class="collapse list-unstyled ms-3">
                    <li><a class="nav-link mt-2" href="{% url 'products' %}?realm=Agrabah">Agrabah</a></li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Atlantica">Atlantica</a></li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Corona">Corona</a></li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Enchanted_Castle">Enchanted Castle</li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Enchanted_Forest">Enchanted Forest</li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Fantasia">Fantasia</li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Halloween_Town">Halloween Town</li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Motunui">Motunui</li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Neverland=">Neverland</li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Occitania">Occitania</li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Pride_Lands">Pride Lands</li>
                    <li><a class="nav-link" href="{% url 'products' %}?realm=Wonderland">Wonderland</li>
                </ul>
                <a href="#" class="text-black nav-link mt-1">FAQ</a>
                <a href="#" class="text-black nav-link mt-1">Contact Us</a>
                <a href="#" class="text-black nav-link mt-1">Privacy</a>
            </div>
        </div>
    </div>
    <!-- Title -->
    <a href="{% url 'home' %}" class="nav-link text-white">
        <h1 id="main-title" class="m-0">Treasures Untold</h1>
    </a>
    <!-- Account and Basket -->
    <div id="account-and-basket" class="d-none d-md-flex gap-3">
        <!-- Account Dropdown -->
        <div id="user-account-dropdown" class="dropdown">
            <a class="nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="text-center text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,10" data-bs-title="{% if user.is_authenticated %}{{ user.username }}{% else %}Log In or Sign Up{% endif %}">
                    <i class="fa-solid fa-hat-wizard fa-xl"></i>
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end mt-3">
                {% include 'includes/login_options.html' %}
            </ul>
        </div>
        <!-- Basket Offcanvas -->
        {% if user.is_authenticated %}
            <a data-bs-toggle="offcanvas" href="#offcanvas-basket" aria-controls="offcanvas-basket" role="button" class="text-white">
                <div class="text-center" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,10" data-bs-title="£{{ total|floatformat:2 }}">
                    <i class="fa-solid fa-basket-shopping fa-xl"></i>
                </div>
            </a>
        {% else %}
            <div class="text-white">
                <i class="fa-solid fa-basket-shopping fa-xl disabled"></i>
            </div>    
        {% endif %}
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-basket" aria-labelledby="offcanvas-basketLabel">
            <div class="offcanvas-header">
                <a data-bs-dismiss="offcanvas" href="#offcanvas-basket" aria-label="Close" role="button" class="offcanvas-right-close text-black">
                    <i class="fa-solid fa-basket-shopping fa-xl"></i>
                </a>
            </div>
            <div class="offcanvas-body">
                <div class="col">
                    {% if basket_items %}
                        <div class="table-resposive">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                    {% for item in basket_items %}
                                    <tr>
                                        <td class="w-25">
                                            <img class="img-fluid" src="{{ item.product.image.url }}" alt="">
                                        </td>
                                        <td>
                                            <p><strong>{{ item.product.name }}</strong></p>
                                            <p><small>{{ item.product.sku }}</small></p>
                                        </td>
                                        <td><p>£{{ item.product.price }}</p></td>
                                        <td><p>{{ item.quantity }}</p></td>
                                        <td><p>£{{ item.product.price }}</p></td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><p>Basket Total: £{{ total|floatformat:2 }}</p></td>
                                        <td><p>Delivery: £{{ delivery|floatformat:2 }}</p></td>
                                        <td><p>Grand Total: £{{ grand_total|floatformat:2 }}</p></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        {% else %}
                        <p>Your basket is empty</p>
                        <a href="{% url 'products' %}" class="">Continue Shopping</a>
                        {% endif %}
                    </div>
                    <a href="{% url 'view_basket' %}" class="btn btn-secondary">View basket</a>
                    <a href="{% url 'checkout' %}" class="btn btn-secondary">Secure Checkout</a>
            </div>
          </div>
    </div>
</nav>
