/* Treasures Untold - support app CSS styling */
#support-page {
    background-color: var(--tu-mid-grey);
}

#support-container {
    background-color: var(--tu-off-white);
}

.accordion-button:not(.collapsed) {
    background-color: #839680;
    color: #fff;
}

.accordion-item {
    background-color: #e7f0e6;
    color: black;
    padding: 2px;
    margin-top: 5px;
    border-radius: 8px;
}

.accordion-button:focus {
    box-shadow: 0 0 0 3px #83968066;
    border-color: #839680;
}

.accordion-button {
    border-radius: 7px;
}
