<div class="container table-container mt-3">
    <!-- faq table -->
    <table class="table caption-top">
        <caption class="hidden">List of FAQs</caption>
        <thead class="table-light">
            <tr>
                <th class="">Topic</th>
                <th class="">Question</th>
                <th></th>
                <th class="text-center"><a class="btn btn-sm btn-success w-75" href="{% url 'manage_faq' %}">Add</a></th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
        <tr>
            <td>{{ faq.topic.name }}</td>
            <td>{{ faq.question }}</td>
            <td class="text-center">
                <a href="{% url 'manage_faq' faq.id %}" class="btn btn-sm btn-warning btn-edit w-75">Edit</a>
            </td>
            <td class="text-center">
                <a href="{% url 'delete_faq' faq.id %}" class="btn btn-sm btn-danger btn-delete w-75">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>