<div class="container messages-container mt-3 mb-3 d-flex flex-column gap-3">
    <!-- Grouping messages by replied -->
    {% regroup contact_messages by replied as grouped_messages %}
    {% for group in grouped_messages %}
        <h2 class="mt-4 text-center h3-size">{{ group.grouper|yesno:"Replied,Unreplied" }}</h2>
        {% if group.grouper %}
            {% for message in group.list|dictsortreversed:"date_replied" %}
                <div class="contact-message-container bg-white p-3">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <div class="ms-1">
                            <span><strong>{{ message.ticket_number }}</strong></span>
                            <span>- {{ message.name }} </span>
                            <p class="message-email"><i>{{ message.email }}</i></p>
                        </div>
                        <div class="mb-3 d-flex gap-1">
                            {% if not message.replied %}
                            <a href="{% url 'manage_message' message_id=message.id %}" class="btn btn-yellow btn-with-spinner" aria-label="reply to {{ message.name }} from {{ message.email }}">
                                <span class="btn-text"><i class="fa-solid fa-reply"></i></span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </a>
                            {% endif %}
                            <a href="{% url 'manage_message' message_id=message.id delete='delete' %}" class="btn btn-red btn-delete btn-with-spinner ms-1" aria-label="delete message from {{ message.name }}">
                                <span class="btn-text"><i class="fa-solid fa-trash-can"></i></span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </a>
                        </div>
                    </div>
                    <div class="message-content p-3">
                        <p>Received on: <strong>{{ message.date_received | date:"d M Y" }}</strong></p>
                        <p>{{ message.message }}</p>
                    </div>
                    {% if message.replied %}
                    <div class="reply-content mt-3 p-3">
                        <p>Reply sent on: <strong>{{ message.date_replied | date:"d M Y" }}</strong></p>
                        <p>{{ message.reply }}</p>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            {% for message in group.list|dictsort:"date_received" %}
                <div class="contact-message-container bg-white p-3 container">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <div class="ms-1">
                            <span><strong>{{ message.ticket_number }}</strong></span>
                            <span>- {{ message.name }} </span>
                            <p class="message-email"><i>{{ message.email }}</i></p>
                        </div>
                        <div class="mb-3 d-flex gap-1">
                            {% if not message.replied %}
                            <a href="{% url 'manage_message' message_id=message.id %}" class="btn btn-yellow btn-with-spinner" aria-label="reply to {{ message.name }} from {{ message.email }}">
                                <span class="btn-text"><i class="fa-solid fa-reply"></i></span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </a>
                            {% endif %}
                            <a href="{% url 'manage_message' message_id=message.id delete='delete' %}" class="btn btn-red btn-delete btn-with-spinner ms-1" aria-label="delete {{ message.name }}">
                                <span class="btn-text"><i class="fa-solid fa-trash-can"></i></span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </a>
                        </div>
                    </div>
                    <div class="message-content p-3">
                        <p>Received on: <strong>{{ message.date_received | date:"d M Y" }}</strong></p>
                        <p>{{ message.message }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>