<div class="container messages-container mt-3 mb-3">
    <!-- newsletter -->
    <div class="row d-flex justify-content-center">
        <div id="newsletters" class="col-12">
            <h5 class="text-center">Newsletters</h5>
            <table class="table caption-top">
                <caption class="hidden">List of newsletters</caption>
                <thead class="staff-table">
                    <tr>
                        <th class="newsletter-table-newsletter w-25">Newsletter</th>
                        <th class="newsletter-table-date text-nowrap">Date Sent</th>
                        <th class="text-end w-100">
                            <a class="btn btn-green btn-with-spinner" href="{% url 'manage_newsletters' %}">
                                <span class="btn-text"><i class="fa-solid fa-plus"></i></span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for newsletter in newsletters %}
                <tr>
                    <td class="newsletter-table-newsletter w-25">{{ newsletter.subject }}</td>
                    <td class="newsletter-table-date text-nowrap">{{ newsletter.date_sent | date:"d M Y" }}</td>
                    <td class="text-end">
                        <a href="{% url 'manage_newsletters' newsletter_id=newsletter.id %}" class="btn btn-blue btn-delete btn-with-spinner">
                            <span class="btn-text"><i class="fa-regular fa-folder-open"></i></i></span>
                            <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                        </a>
                        <a href="{% url 'manage_newsletters' delete='delete' newsletter_id=newsletter.id %}" class="btn btn-red btn-delete btn-with-spinner">
                            <span class="btn-text"><i class="fa-solid fa-trash-can"></i></span>
                            <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="subscribers"  class="col-12">
            <h5 class="text-center">Subscribers</h5>
            <table class="table caption-top">
                <caption class="hidden">List of subscribers</caption>
                <thead class="staff-table">
                    <tr>
                        <th class="subscriber-table-emails w-25">Email</th>
                        <th class="subscriber-table-status">Status</th>
                        <th class="text-end"></th>
                    </tr>
                </thead>
                <tbody>
                {% for subscriber in active_subscribers %}
                    <tr>
                        <td class="subscriber-table-emails w-25">{{ subscriber.email }}</td>
                        <td class="subscriber-table-status"><strong class="text-green">ACTIVE</strong></td>
                        <td class="text-end">
                            <a href="{% url 'manage_subscriber' subscriber_id=subscriber.id %}" class="btn btn-red btn-delete btn-with-spinner">
                                <span class="btn-text"><i class="fa-solid fa-trash-can"></i></span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% for subscriber in unconfirmed_subscribers %}
                    <tr>
                        <td class="subscriber-table-emails w-25">{{ subscriber.email }}</td>
                        <td class="subscriber-table-status"><strong class="text-grey">PENDING</strong></td>
                        <td class="text-end">
                            <a href="{% url 'manage_subscriber' subscriber_id=subscriber.id %}" class="btn btn-red btn-delete btn-with-spinner">
                                <span class="btn-text"><i class="fa-solid fa-trash-can"></i></span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% for subscriber in expired_subscribers %}
                    <tr>
                        <td class="subscriber-table-emails w-25">{{ subscriber.email }}</td>
                        <td class="subscriber-table-status"><strong class="text-red">EXPIRED</strong></td>
                        <td class="text-end">
                            <a href="{% url 'manage_subscriber' subscriber_id=subscriber.id %}" class="btn btn-red btn-delete btn-with-spinner">
                                <span class="btn-text"><i class="fa-solid fa-trash-can"></i></span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clear-btn-container col-12 col-md-6 col-lg-4 d-flex justify-content-center">
            {% if expired_subscribers %}
            <a href="{% url 'clear_expired_subscribers' %}" class="btn btn-red btn-delete btn-with-spinner btn-clear-subs">
                <span class="btn-text">CLEAR EXPIRED SUBSCRIBERS</span>
                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
  