<div class="container table-container mt-3 p-0">
    <!-- product table -->
    <table class="table caption-top">
        <caption class="hidden">List of products</caption>
        <thead class="staff-table">
            <tr>
                <th class="product-image"></th>
                <th class="">Product</th>
                <th class="">Realm</th>
                <th class="">SKU</th>
                <th class="">Stock</th>
                <th class="">Price</th>
                <th></th>
                <th class="text-center">
                    <a class="btn btn-sm btn-success btn-with-spinner w-75" href="{% url 'manage_product' %}">
                        <span class="btn-text">Add</span>
                        <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td><img width="50" height="50" class="" src="{{ product.image.url }}" alt="{{ product.name }}"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.realm }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.stock }}</td>
            <td>£{{ product.price }}</td>
            <td class="text-center">
                <a href="{% url 'manage_product' product_id=product.id %}" class="btn btn-sm btn-warning btn-edit btn-with-spinner w-75">
                    <span class="btn-text">Update</span>
                    <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                </a>
            </td>
            <td class="text-center">
                <a href="{% url 'manage_product' delete='delete' product_id=product.id %}" class="btn btn-sm btn-danger btn-delete btn-with-spinner w-75">
                    <span class="btn-text">Delete</span>
                    <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>