{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!doctype html>
<html lang="en">

<head>
    {% block core_meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Description and Keywords -->
    <meta name="description"
        content="Step into a world of Disney magic with Treasures Untold! Discover enchanted artifacts,
        mystical relics, and legendary treasures from beloved realms.">
    <meta name="keywords"
        content="Disney magic, enchanted treasures, mystical artifacts, legendary relics, fairy tale collectibles,
        magical items, fantasy gifts, Agrabah, Arendelle, Atlantica, Coronam, Enchanted Castle, Enchanted Forest,
        Fantasia, Halloween Town, Motunui, Neverland, Occitania, Pride Lands, Wonderland, Treasures Untold">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Title -->
    <title>Treasures Untold{% block extra_title %}{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">

    {% block core_css %}
    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
    >
    <!-- Load base_style.css -->
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <!-- Preload banner image -->
    <link rel="preload" href="{% static 'images/banner_small.webp' %}" as="image" fetchpriority="high" media="(max-width: 576px)">
    <link rel="preload" href="{% static 'images/banner.webp' %}" as="image" fetchpriority="high" media="(min-width: 577px)">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    <header>
        {% include 'includes/standard_navbar.html' %}
        {% block page_header %}
        {% endblock %}
    </header>
    <main>
        <!-- Message container for django messages in toasts. -->
        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 50 %}
                        {% include 'includes/toasts/toast_rewards.html' %}
                    {% elif level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- Main page content in here. -->
        <div class="content d-flex flex-column flex-grow-1 ">
            {% block content %}
            {% endblock %}
            <div id="scroll-button" class="scroll-button-hide">
                <a class="scroll-link d-flex h-100 nav-link" href="#" aria-label="scroll to top of page">
                    <i class="fa-solid fa-angle-up fa-xl mx-auto my-auto"></i>
                </a>
            </div>
        </div>
    </main>
    <footer>
        <!-- Standard footer -->
        <div id="apeskinian" class="d-flex justify-content-center align-items-center">
            <p class="m-0 text-white">@ apeskinian 2025</p>
        </div>
        {% include 'includes/mobile_navbar.html' %}
        {% block footer_content %}
        {% endblock %}
    </footer>
    {% block core_js %}
    <!-- jQuery -->
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <!-- Bootstrap -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d2d31a9014.js" crossorigin="anonymous"></script>
    <!-- Load base_script.js -->
    <script src="{% static 'script/base_script.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</body>

</html>