{% extends 'base.html' %}
{% load static %}
{% load product_tags %}

{% block extra_css %}
    <!-- support_style.css -->
    <link rel="stylesheet" href="{% static 'staff/css/staff_style.css' %}">
{% endblock %}

{% block content %}
<div id="staff-dashboard-page" class="container-fluid flex-grow-1">
    <div id="staff-dashboard-page-container" class="container rounded-4 my-4 p-4">
        <!-- staff dashboard tabs -->
        <ul class="nav nav-pills nav-fill gap-2" id="staffTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link{% if active_tab == 'Product' %} show active{% endif %}" id="product-tab" data-bs-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">Product Admin</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link{% if active_tab == 'FAQ' or active_tab == 'FAQ Topic' %} show active{% endif %}" id="faq-tab" data-bs-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQ Admin</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link{% if active_tab == 'Message' %} show active{% endif %}" id="message-tab" data-bs-toggle="tab" href="#message" role="tab" aria-controls="message" aria-selected="false">Message Admin</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link{% if active_tab == 'Newsletter' %} show active{% endif %}" id="newsletter-tab" data-bs-toggle="tab" href="#newsletter" role="tab" aria-controls="newsletter" aria-selected="false">Newsletter Admin</a>
            </li>
        </ul>
        <!-- tab content -->
        <div class="tab-content" id="staffTabContent">
            <!-- product tab -->
            <div class="tab-pane fade{% if active_tab == 'Product' %} show active{% endif %}" id="product" role="tabpanel" aria-labelledby="product-tab">
                <div id="product-content">
                    {% include 'staff/includes/product_admin.html' %}
                </div>
            </div>
            <!-- FAQ tab -->
            <div class="tab-pane fade{% if active_tab == 'FAQ' or active_tab == 'FAQ Topic' %} show active{% endif %}" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                <div id="faq-content">
                    {% include 'staff/includes/faq_admin.html' %}
                </div>
            </div>
            <!-- messages tab -->
            <div class="tab-pane fade{% if active_tab == 'Message' %} show active{% endif %}" id="message" role="tabpanel" aria-labelledby="message-tab">
                <div id="message-content">
                    {% include 'staff/includes/messages_admin.html' %}
                </div>
            </div>
            <!-- newsletter tab -->
            <div class="tab-pane fade{% if active_tab == 'Newsletter' %} show active{% endif %}" id="newsletter" role="tabpanel" aria-labelledby="newsletter-tab">
                <div id="newsletter-content">
                    {% include 'staff/includes/newsletter_admin.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if mode %}
<div class="modal fade" id="dashboard-modal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between p-2">
                <h5 class="modal-title flex-grow-1 text-center" id="dashboard-modal-label">
                    {{ mode }} {% if mode == 'Unsubscribe' %}from {% elif mode == 'Reply' %}to {% endif %}{{ active_tab }}
                </h5>
                <a id="dashboard-modal-close" href="{{ return_url }}" class="btn-close p-1 mx-auto" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        {% csrf_token %}
                        {% if active_tab == 'FAQ' %}
                            {% if form %}
                                {{ form.topic | as_crispy_field }}
                                <div id="new-topic-field">
                                    {{ form.new_topic | as_crispy_field }}
                                </div>
                                {{ form.question | as_crispy_field }}
                                {{ form.answer | as_crispy_field }}
                            {% elif to_delete %}
                                <div>
                                    Are you sure you want to delete the following FAQ?
                                    (This cannot be undone)
                                    <div>
                                        <p><strong>Q:</strong> {{ to_delete.question }}</p>
                                        <p><strong>A:</strong> {{ to_delete.answer }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% elif active_tab == 'FAQ Topic' %}
                            {% if form %}
                                {{ form | crispy }}
                            {% elif  to_delete %}
                                <div>
                                    Are you sure you want to delete the following topic?
                                    (This cannot be undone)
                                    <div>
                                        {{ to_delete.name }}
                                    </div>
                                </div>
                            {% endif %}
                        {% elif active_tab == 'Product' %}
                            {% if form %}
                                {{ form.name | as_crispy_field }}
                                {{ form.realm | as_crispy_field }}
                                <div id="new-realm-field">
                                    {{ form.new_realm | as_crispy_field }}
                                </div>
                                {{ form.description | as_crispy_field }}
                                <div class="d-flex gap-4">
                                    {{ form.price | as_crispy_field }}
                                    {{ form.stock | as_crispy_field }}
                                </div>
                                {{ form.unique_stock | as_crispy_field }}
                                {{ form.image.as_widget }}
                            {% elif to_delete %}
                                <div>
                                    Are you sure you want to delete the following product?
                                    (This cannot be undone)
                                    <div>
                                        {{ to_delete.name }}
                                    </div>
                                </div>
                            {% endif %}
                        {% elif active_tab == 'Message' %}
                            {{ form | crispy }}                                
                        {% elif active_tab == 'Newsletter' %}
                            {% if form %}
                                {{ form | crispy }}
                            {% elif to_delete %}
                                <div>
                                    Are you sure you want to delete the following newsletter?
                                    (This cannot be undone)
                                    <div>
                                        <strong>{{ to_delete.subject }}</strong>
                                    </div>
                                </div>
                            {% elif mode == 'Unsubscribe' %}
                                <div>
                                    Are you sure you want to unsubscribe the following email?
                                    (This cannot be undone)
                                    <div>
                                        {{ to_delete.email }}
                                    </div>
                                </div>
                            {% elif mode == 'Clear' %}
                                <div>Clear the following expired subscribers?</div>
                                <div>
                                    {% for subscriber in to_delete %}
                                    <div>
                                        <strong>{{ subscriber.email }}</strong>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div>(This cannot be undone.)</div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <div class="d-flex justify-content-center gap-2">
                            <a href="{{ return_url }}" id="dashboard-modal-cancel" class="btn btn-primary btn-with-spinner w-25" aria-label="Close">
                                <span class="btn-text">{% if mode == 'View' %}Close{% else %}Cancel{% endif %}</span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </a>
                            {% if mode != 'View' %}
                            <button id="dashboard-modal-confirm" type="submit" class="btn {% if form %}btn-success{% elif to_delete %}btn-danger{% endif %} w-25">
                                <span class="btn-text">{{ mode }}</span>
                                <span class="spinner-border spinner-border-sm d-none" role="status"></span>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- support admin script -->
    <script src="{% static 'staff/script/staff_admin.js' %}"></script>
{% endblock %}