{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container flex-grow-1">
    <h1 class="test text-center m-0 mt-3">Staff Dashboard</h1>

    <!-- Tabs for Admin Sections -->
    <ul class="nav nav-tabs" id="staffTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if active_tab == 'products' %}active{% endif %}" id="product-tab" data-bs-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">Product Admin</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if active_tab == 'faq' %}show active{% endif %}" id="faq-tab" data-bs-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">FAQ Admin</a>
        </li>
        <!-- Add more tabs as needed -->
    </ul>

    <div class="tab-content" id="staffTabContent">
        <!-- Product Admin Tab -->
        <div class="tab-pane fade {% if active_tab == 'products' %}show active{% endif %}" id="product" role="tabpanel" aria-labelledby="product-tab">
            <div id="product-content">
                <!-- Content will be loaded dynamically here -->
            </div>
        </div>
        
        <!-- FAQ Admin Tab -->
        <div class="tab-pane fade {% if active_tab == 'faq' %}show active{% endif %}" id="faq" role="tabpanel" aria-labelledby="faq-tab">
            <div id="faq-content">
                {% include 'staff/includes/faq_admin.html' %}
                <!-- Content will be loaded dynamically here -->
            </div>
        </div>

        <!-- More admin sections can be added here -->
    </div>
    
</div>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <!-- support admin script -->
    <script src="{% static 'staff/script/staff_admin.js' %}"></script>
{% endblock %}