{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1>Product Management</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Add a product</h5>
                <form action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != "image" %}
                            {{ field|as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    {{ form.image.as_widget }}
                    <div>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-secondary">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
    {% include 'includes/info_section.html' %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- image changing script -->
    <script src="{% static 'products/script/product_form_script.js' %}"></script>
{% endblock %}