{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block extra_css %}
<!-- Load products_style.css -->
    <link rel="stylesheet" href="{% static 'products/css/products_style.css' %}">    
{% endblock %}

{% block extra_title %} - Products{% endblock %}

{% block content %}
<div id="product-details-page" class="container-fluid flex-grow-1">
    <div id="product-details-container" class="container rounded-4 my-4 p-5">
        <div class="row">
            <div id="product-details-image-container" class="col-12 col-md">
                {% if 'placeholder' in product.image.url %}
                    <a href="{{ product.image_url }}" target="_blank" aria-label="view larger image of {{ product.name }}">
                    <img class="product-details-image card-img-top rounded-4" src="{% static 'images/placeholder.png' %}" alt="{{ product.name }}">
                    </a>
                {% else %}                               
                    <a href="{{ product.image_url }}" target="_blank" rel="noopener nofollow external" aria-label="view larger image of {{ product.name }}">
                    <img {% if user.is_authenticated and product.sku == 'TU-AGR-ML-U' %}id="magic-lamp"{% endif %} class="product-details-image card-img-top {% if product.stock < 1 %}out-of-stock{% endif %} rounded-4" src="{{ product.image_url }}" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
            <div id="product-details-info" class="col-12 col-md mt-3">
                <h3 id="product-name">{{ product.name }}</h3>
                <a id="product-realm-link" href="{% url 'products' %}?realm={{ product.realm }}">
                    <h4>{{ product.realm.display_name }}</h4>
                </a>
                <p id="product-description">{{ product.description }}</p>
                {% if product.stock > 0 %}
                    <h4 id="product-price">£{{ product.price }}</h4>
                    <p id="product-availability" class="m-0">Available: {{ product.stock }}</p>
                    <form id="quantity-form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        {% if not product.unique_stock %}
                        <div id="quantity-input" class="form-group mt-2">
                            <div class="input-group">
                                <span class="input-group-text">QTY</span>
                                <button class="btn btn-secondary decrement-qty" id="decrement-qty-{{ product.id }}" data-item-id="{{ product.id }}" aria-label="decrease item quantity"><i class="fa-solid fa-minus"></i></i></button>
                                <input id="id-qty-{{ product.id }}" class="form-control qty-input" type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" data-item-id="{{ product.id }}" aria-label="product quantity input">
                                <button class="btn btn-secondary increment-qty" id="increment-qty-{{ product.id }}" data-item-id="{{ product.id }}" aria-label="increase item quantity"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                        {% else %}
                            <input type="hidden" name="quantity" value=1>
                        {% endif %}
                        <div class="mt-3">
                            {% if user.is_authenticated %}
                            <button id="add-button" type="submit" class="btn btn-green">
                                <span class="spinner hidden" id="spinner">
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                    <span role="status"></span>
                                </span>
                                <span id="button-text">Add to Basket</span>
                            </button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <input type="hidden" name="return_url" value="{{ return_url }}">
                            {% else %}
                                <p id="login-prompt">You must log in to add items to your basket.</p>
                                <div id="login-buttons">
                                    <a href="{{ login_url }}" class="btn btn-green btn-prompt mx-1">Log In</a>
                                    <a href="{{ signup_url }}" class="btn btn-green btn-prompt mx-1">Sign Up</a>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                    <!-- Countdown timer for delivery. -->
                    <div id="countdown-container" class="mt-3">
                        <i class="fa-solid fa-clock-rotate-left fa-flip-horizontal"></i>
                        <span id="countdown"></span>
                    </div>
                {% else %}
                    <p id="sold-text" class="fw-bold text-red">{% if product.unique_stock %}SOLD{% else %}OUT OF STOCK{% endif %}</p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <a href="{{ return_url }}" class="btn btn-blue">Back to results</a>
            </div>
        </div>
    </div>
</div>
{% include 'includes/info_section.html' %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- Load product specific scripts -->
    <script src="{% static 'script/product_limits.js' %}"></script>
    <script src="{% static 'products/script/countdown_timer.js' %}"></script>
    <script src="{% static 'products/script/products_script.js' %}"></script>
{% endblock %}