{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block extra_css %}
    <!-- products_style.css -->
    <link rel="stylesheet" href="{% static 'products/css/products_style.css' %}">    
{% endblock %}

{% block content %}
<div id="product-details" class="container">
    <div class="row mt-3">
        <div id="product-details-image" class="col">
            {% if 'placeholder' in product.image.url %}
                <a href="{{ product.image_url }}" target="_blank">
                <img class="card-img-top" src="{% static 'images/placeholder.png' %}" alt="{{ product.name }}">
                </a>
            {% else %}                               
                <a href="{{ product.image_url }}" target="_blank">
                <img {% if user.is_authenticated and product.sku == 'ml002' %}id="magic-lamp"{% endif %} class="card-img-top {% if product.stock < 1 %}out-of-stock{% endif %}" src="{{ product.image_url }}" alt="{{ product.name }}">
                </a>
            {% endif %}
        </div>
        <div id="product-details-info" class="col">
            <h3>{{ product.name }}</h3>
            <a href="{% url 'products' %}?realm={{ product.realm }}">
                <h5>{{ product.realm.display_name }}</h5>
            </a>
            <p>{{ product.description }}</p>
            {% if product.stock > 0 %}
                <p class="fw-bold">£{{ product.price }}</p>
                <p>Available: {{ product.stock }}</p>
                <form action="{% url 'add_to_basket' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group w-50">
                            <span class="input-group-text">QTY</span>
                            <button class="btn btn-secondary decrement-qty" id="decrement-qty-{{ product.id }}" data-item-id="{{ product.id }}"><i class="fa-solid fa-minus"></i></i></button>
                            <input id="id-qty-{{ product.id }}" class="form-control qty-input" type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" data-item-id="{{ product.id }}">
                            <button class="btn btn-secondary increment-qty" id="increment-qty-{{ product.id }}" data-item-id="{{ product.id }}"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="mt-3">
                        {% if user.is_authenticated %}
                        <input type="submit" class="btn btn-secondary" value="Add to Basket">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% else %}
                            <p>You must log in to add items to your basket.</p>
                            <a href="{{ login_url }}" class="btn btn-secondary">Log In</a>
                            <a href="{{ signup_url }}" class="btn btn-secondary">Sign Up</a>
                        {% endif %}
                    </div>
                </form>
                <div mt-3>
                    <i class="fa-solid fa-clock-rotate-left fa-flip-horizontal"></i>
                    <span id="countdown"></span>
                </div>
            {% else %}
                <p class="fw-bold text-red">SOLD OUT</p>
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            <a href="" class="btn btn-secondary back-button">Back to results</a>
        </div>
    </div>
</div>
{% include 'products/includes/magic_lamp_modal.html' %}
{% include 'includes/info_section.html' %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- qty modifiers script -->
    <script src="{% static 'script/product_limits.js' %}"></script>
    <script src="{% static 'script/countdown_timer.js' %}"></script>
    <script src="{% static 'products/script/products_script.js' %}"></script>
{% endblock %}