{% extends 'base.html' %}
{% load static %}
{% load product_tags %}

{% block content %}
    <div id="products-shown" class="container-fluid text-center mt-3">
        <p>
            <!-- Amount of products -->
            {% if products|length > 0 %}
                Showing {{ products|length }} {% if showing_new %}new {% endif %}product{% if products|length != 1 %}s{% endif %}
            {% else %}    
                No {% if showing_new %}new {% endif %}products
            {% endif %}
                <!-- If there was a stock check -->
                {% if "in" in showing_stock and "out" not in showing_stock %}in stock{% endif %}
                {% if "out" in showing_stock and "in" not in showing_stock %}out of stock{% endif %}
            <!-- If there was a search term -->
            {% if search_term %} for <strong>"{{ search_term }}"</strong>{% endif %}
            <!-- If there is a filter for realms -->
            {% if current_realms_names %}
                from
                {% for realm in current_realms_names %}{% if forloop.first %}{{ realm|friendly_name }}{% elif forloop.last %} and {{ realm|friendly_name }}{% else %}, {{ realm|friendly_name }}{% endif %}{% endfor %}
            {% endif %}
            <!-- If there is an order -->
            {% if current_sorting != 'None_None' %} ordered by 
                {% if current_sorting == 'price_asc' %}price (low to high){% endif %}
                {% if current_sorting == 'price_desc' %}price (high to low){% endif %}
                {% if current_sorting == 'name_asc' %}name (A-Z){% endif %}
                {% if current_sorting == 'name_desc' %}name (Z-A){% endif %}
                {% if current_sorting == 'realm_asc' %}realm (A-Z){% endif %}
                {% if current_sorting == 'realm_desc' %}realm (Z-A){% endif %}
            {% endif %}
        </p>
        <br>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="sort-and-filter" class="col-6 col-sm-3 col-lg-2">
                <div class="sort-selector_wrapper m-1">
                    <select id="sort-selector" class="w-100">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="realm_asc" {% if current_sorting == 'realm_asc' %}selected{% endif %}>Realm (A-Z)</option>
                        <option value="realm_desc" {% if current_sorting == 'realm_desc' %}selected{% endif %}>Realm (Z-A)</option>
                    </select>
                </div>            
                <a href="{% url 'products' %}" class="btn btn-secondary m-1 w-100">Clear</a>
                <button id="submit-filter" class="btn btn-success m-1 w-100">Apply</button>
                <form id="filter-form" action="">
                    <p class="m-0 fw-bold">Stock</p>
                    <input type="checkbox" id="checkbox-new" name="new" value="new" {% if showing_new %}checked{% endif %}>
                    <label for="checkbox-new"> New</label><br>
                    <input type="checkbox" id="checkbox-instock" name="stock" value="in" {% if "in" in showing_stock %}checked{% endif %}>
                    <label for="checkbox-instock"> In stock</label><br>
                    <input type="checkbox" id="checkbox-outofstock" name="stock" value="out" {% if "out" in showing_stock %}checked{% endif %}>
                    <label for="checkbox-outofstock"> Out of stock</label><br>
                    <p class="m-0 fw-bold">Realm</p>
                    {% for realm in all_realms %}
                        <input type="checkbox" id="checkbox-{{ realm.name|lower }}" name="realm" value="{{ realm.name }}" {% if realm.name in current_realms_names %}checked{% endif %}>
                        <label for="checkbox-{{ realm.name|lower }}"> {{ realm.display_name }}</label><br>
                    {% endfor %}
                </form>
            </div>
            <div id="products-view" class="col-6 col-sm-9 col-lg-10">
                <div class="row py-3 px-2">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="card h-100">
                                {% if 'placeholder' in product.image.url %}
                                    <a href="{% url 'product_detail' product_id=product.id %}">
                                        <img class="card-img-top" src="{% static 'images/placeholder.png' %}" alt="{{ product.name }}">
                                    </a>
                                {% else %}                               
                                    <a href="{% url 'product_detail' product_id=product.id %}">
                                        <img class="card-img-top {% if product.stock < 1 %}out-of-stock{% endif %}" src="{{ product.image_url }}" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <div class="card-body p-1">
                                    <h6 class="card-title text-center">{{ product.name }}</h6>
                                    {% if product.stock < 1 %}
                                        <p class="card-text text-center text-red fw-bold"><small>SOLD OUT</small></p>
                                    {% else %}
                                        <p class="card-text text-center">£{{ product.price }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none card-spacer"></div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-none card-spacer"></div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-md-block d-lg-none card-spacer"></div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-lg-block d-xl-none card-spacer"></div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:6 %}
                        <div class="col-12 d-none d-xl-block card-spacer"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-button">
        <a class="scroll-link d-flex h-100 nav-link" href="">
            <i class="fa-solid fa-angle-up mx-auto my-auto"></i>
        </a>
    </div>
    {% include 'includes/info_section.html' %}
{% endblock %}