{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="product-details" class="container">
    <div class="row">
        <div id="product-details-image" class="col">
            {% if 'placeholder' in product.image.url %}
                <a href="#">
                <img class="card-img-top" src="{% static 'images/placeholder.png' %}" alt="{{ product.name }}">
                </a>
            {% else %}                               
                <a href="#">
                <img class="card-img-top {% if product.stock < 1 %}out-of-stock{% endif %}" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
            {% endif %}
        </div>
        <div id="product-details-info" class="col">
            <h3>{{ product.title }}</h3>
            <p>{{ product.description }}</p>
            <p>£{{ product.price }}</p>
        </div>
    </div>
</div>

{% endblock %}