<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Newsletter from Treasures Untold</title>
    </head>
    <body>
        <p>Dear Adventurer,</p>

        <p>The realms have whispered once more, and we bring tidings from Treasures Untold! Magical artifacts, enchanted discoveries, and exclusive wonders await—ready to be uncovered by those who dare to seek.</p>

        <div>
            {{ news_body }}
        </div>

        <p>May your path be filled with wonder and your treasures be plentiful! Until our next enchanted encounter, keep the magic alive and the adventure endless.</p>

        <p><strong>Best wishes and enchanted tidings,</strong><br>
        Apeskinian the Wise <br>
        <strong>Treasures Untold</strong> <br>
        <a href="{{ home_url }}">Visit Us</a></p>

        <div>
            You are receiving this email because you subscribed to Treasures Untold.<br>
            <a href="{{ unsubscribe_url }}">Unsubscribe</a>
        </div>
    </body>
</html>