{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container flex-grow-1">
    <h1 class="test text-center m-0 mt-3">Support Admin</h1>
    <div class="container table-container">
        <!-- faq table -->
        <table class="table caption-top">
            <caption class="hidden">List of FAQs</caption>
            <thead class="table-light">
                <tr>
                    <th class="">Topic</th>
                    <th class="">Question</th>
                    <th></th>
                    <th class="text-center"><a class="btn btn-sm btn-success" href="{% url 'add_faq' %}">Add</a></th>
                </tr>
            </thead>
            <tbody>
            {% for faq in faqs %}
            <tr>
                <td>{{ faq.topic.name }}</td>
                <td>{{ faq.question }}</td>
                <td class="text-center">
                    <a href="{% url 'edit_faq' faq.id %}" class="btn btn-sm btn-warning btn-edit">Edit</a>
                </td>
                <td class="text-center">
                    <a href="{% url 'delete_faq' faq.id %}" class="btn btn-sm btn-danger btn-delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if add_form or edit_form or to_delete %}
    <div class="modal fade" id="settings-modal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex">
                    <h5 class="modal-title" id="settings-modal-label">
                        {% if add_form %}
                            Add new FAQ
                        {% elif edit_form %}
                            Editing FAQ
                        {% elif to_delete %}
                            Delete FAQ?
                        {% endif %}
                    </h5>
                    <a href="{% url 'faq_admin' %}" class="btn-close" aria-label="Close"></a>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <div class="mb-2">
                            {% csrf_token %}
                            {% if add_form %}
                                {{ add_form | crispy}}
                            {% elif edit_form %}
                                {{ edit_form | crispy }}
                            {% elif to_delete %}
                                <div>
                                    <p><strong>Q:</strong> {{ to_delete.question }}</p>
                                    <p><strong>A:</strong> {{ to_delete.answer }}</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <div class="d-flex justify-content-center gap-2">
                                <a href="{% url 'faq_admin' %}" id="staff-modal-cancel" class="btn btn-primary" aria-label="Close">Cancel</a>
                                <button id="staff-modal-confirm" type="submit" class="btn {% if edit_form or add_form %}btn-success{% elif to_delete %}btn-danger{% endif %}">
                                    {% if edit_form %}Amend{% elif add_form %}Add{% elif to_delete %}Delete{% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- support admin script -->
    <script src="{% static 'support/script/support_admin.js' %}"></script>
{% endblock %}