{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container flex-grow-1">
    <h1 class="test text-center m-0 mt-3">Support Admin</h1>
    <div class="container table-container">
        <!-- faq table -->
        <table class="table caption-top">
            <caption class="hidden">List of FAQs</caption>
            <thead class="table-light">
                <tr>
                    <th class="">Topic</th>
                    <th class="">Question</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for faq in faqs %}
            <tr>
                <td>{{ faq.topic.name }}</td>
                <td>{{ faq.question }}</td>
                <td class="text-center">
                    <a href="#" class="btn btn-sm btn-warning btn-edit">Edit</a>
                </td>
                <td class="text-center">
                    <a href="#" class="btn btn-sm btn-danger btn-delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4"><a class="btn btn-success" href="#">Add</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}