{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- support_style.css -->
    <link rel="stylesheet" href="{% static 'support/css/support_style.css' %}">
{% endblock %}

{% block content %}
<div class="container flex-grow-1 mt-4">
    <h1 class="hidden">Support page</h1>
    <div class="support-content">
        {% if content == 'privacy' %}
            {% include 'support/includes/privacy_policy.html' %}
        {% elif content == 'faq' %}
            {% include 'support/includes/faqs.html' %}
        {% elif content == 'newsletter' %}    
            {% include 'support/includes/newsletter.html' %}
        {% elif content == 'contact' %}    
            {% include 'support/includes/contact.html' %}
        {% elif content == 'thankyou' %}    
            {% include 'support/includes/thankyou.html' %}
        {% endif %}
    </div>
</div>
{% include 'includes/info_section.html' %}
{% endblock %}
