{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Load support_style.css -->
    <link rel="stylesheet" href="{% static 'support/css/support_style.css' %}">
{% endblock %}

{% block extra_title %} - Support{% endblock %}

{% block body_class %}fading-nav-page{% endblock %}

{% block content %}
<div id="support-page" class="container-fluid flex-grow-1">
    <div id="support-container" class="container rounded-4 my-4 py-4">
        <!-- Dynamically load content. -->
        {% if content == 'privacy' %}
            {% include 'support/includes/privacy_policy.html' %}
        {% elif content == 'faq' %}
            {% include 'support/includes/faqs.html' %}
        {% elif content == 'newsletter' %}    
            {% include 'support/includes/newsletter.html' %}
        {% elif content == 'newsletter_success' %}
            {% include 'support/includes/newsletter_success.html' %}
        {% elif content == 'contact' %}    
            {% include 'support/includes/contact.html' %}
        {% elif content == 'thankyou' %}    
            {% include 'support/includes/thankyou.html' %}
        {% elif content == 'returns' %}
            {% include 'support/includes/returns_policy.html' %}
        {% elif content == 'terms' %}
            {% include 'support/includes/terms.html' %}
        {% endif %}
    </div>
</div>
{% include 'includes/info_section.html' %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- Load profiles_script.js -->
    <script src="{% static 'support/script/support_script.js' %}"></script>
{% endblock %}